{"openapi":"3.0.1","info":{"title":"Документация по SelSup API","description":"API SelSup — программный интерфейс для работы с сервисом SelSup. Даёт возможность работать со всеми функциями SelSup из вашей системы. Для использования API добавьте новый токен на странице:https://selsup.ru/application/integration/pageApi. Добавленный токен необходимо передавать во всех запросах к API SelSup, в заголовке Authorization. API можно использовать без ограничений на тарифе Выделенный сервер.","contact":{"name":"Support Team","email":"admin@selsup.ru"},"license":{"name":"Apache 2.0","url":"https://selsup.ru/dogovor-offerta/"},"version":"1.0"},
  "servers":[{"url":"https://selsup.ru/"}],
  "tags":[
    {"name":"Товары","description":"Методы для работы с товарами и их параметрами. В SelSup используется понятия карточки или модели - ProductModel, верхнего уровня иерархии товаров. На маркетплейсах тоже часто используются карточки товаров. У карточки может быть несколько цветов ProductView для быстрого добавления новых цветов, без заполнения параметров модели. У цвета в свою очередь может быть несколько уже конечных товаров - размеров. У любого уровня могут быть параметры. Часть данных заполняется на уровне модели - категория, бренд и тп, часть у цвета - например картинки."},
    {"name":"Заказы со склада поставщика (FBS/DBS)","description":"Импорт заказов и различные методы для сборки, комплектации, отмены заказов со своего склада"},
    {"name":"Задачи","description":"Многие методы не сразу возвращают данные, а запускают асинхронную задачу. В этом случае возвращается специальный объект TmsTask - по которому можно отслеживать статус выполнения задачи и получать результат в виде файла. В данном разделе представлены методы для работы с такими задачами"},
    {"name":"Скачивание файлов","description":"Позволяет скачать сформированный файл или загруженные изображения. Для скачивания передается ?path=... Значение path содержится в label_path, path и тп"},
    {"name":"Аналитика","description":"Методы для работы с аналитическими отчетами: товарный, финансовый по всем маркетплейсам"},
    {"name":"Контрагенты","description":"Методы для работы с контрагентами товаров"},
    {"name":"Импорт","description":"Запуск различных импортов данных в SelSup"},
    {"name":"Клиент","description":"Управление данными клиента: сотрудниками, организациями и тп"},
    {"name":"Экспорт","description":"Выгрузка различных данных из SelSup"},
    {"name":"Уведомления","description":"Методы для работы с уведомлениями для пользователя"},
    {"name":"Финансы","description":"Методы для работы с финансовой информацией"},
    {"name":"Склад","description":"Управление структурой склада - создание складов, ячеек, стелажей, проходов и тп. Поиск ячеек на складе"},
    {"name":"Маркировка","description":"Методы для работы с маркировкой товаров через Честный знак"},
    {"name":"Поставки товаров","description":"Поставки объединяют несколько заказов, которые отгружаются. Методы для создания заказов и поставок на склад маркетплейса. Автоматизация различных процессов поставки"},
    {"name":"Знания о товарах","description":"Методы управления категориями, параметрами, значениями параметров, брендами и производителями"},{"name":"Медиа","description":"Загрузка различных медиа файлов"},
    {"name":"Фотосессии","description":"Методы для работы с фотосессиями товаров для массовой загрузки фотографий"},{"name":"Цены","description":"Методы для управления ценами на товар и обновление их на маркетплейсе"},
    {"name":"Заказы","description":"Методы для создания заказов на маркетплейс, FBS и приемки на склад"},
    {"name":"Сертификаты качества","description":"Методы для работы с сертификатами качества, декларациями, отказными письмами на товар"},
    {"name":"Интеграция с сайтом","description":"Позволяет добавлять интеграции с сайтом"},{"name":"Настройки","description":"Методы для управления различными настройками"},
    {"name":"Отправка сообщений","description":"Методы по отправки сообщений на электронные почтовые ящики"},
    {"name":"Хранение товара на складе (WMS)","description":"Методы управления остатками товаров на складе, уникальными кодами на каждый товар"},
    {"name":"Заказы поставщикам","description":"Работа с заказами поставщикам"},
    {"name":"Фиды","description":"Различные экспорты данных во внешние сервисы"},
    {"name":"Доставка","description":"Методы для работы с интеграциями со службами доставки"},
    {"name":"Документы","description":"Работа с документами Честного знака"},
    {"name":"Дропшипинг","description":"Методы для работы по модели дропщипинга, когда остатки товаров и цены загружаются с внешних источников партнеров клиента"},
    {"name":"Покупатели","description":"Методы для работы с данными покупателей DBS или заказов с сайта"}
  ],"paths":{"/api/wms/updateStocksByFile":{"post":{"tags":["Хранение товара на складе (WMS)"],"summary":"Импорт остатков файлом","description":"Обновляет информацию об остатках товаров на складе. Запрос передается в формате multipart/form-data. В поле file - содержимое файла. В поле warehouseId - идентификатор склада","operationId":"updateStocksByFile","parameters":[{"name":"warehouseId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TmsTask"}}}}}}},
"/api/wms/updateProductStocks":{"post":{"tags":["Хранение товара на складе (WMS)"],"summary":"Обновить остатки в товарах","description":"В товарах кэшируются остатки товаров со всех складов. Метод позволяет обновить этот кэш","operationId":"updateProductStocks","responses":{"200":{"description":"OK"}}}},
"/api/wms/restoreSku":{"post":{"tags":["Хранение товара на складе (WMS)"],"summary":"Восстановить оригинал SKU","description":"Позволяет восстановить идентификатор SKU у товара","operationId":"restoreSku","parameters":[{"name":"productId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"boolean"}}}}}}},
"/api/wms/removeReserveItem":{"post":{"tags":["Хранение товара на складе (WMS)"],"summary":"Снятие резерва с уникального кода","description":"Убирает резерв с товара","operationId":"removeReserveItem","parameters":[{"name":"itemId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}}},
"/api/wms/removeItem":{"post":{"tags":["Хранение товара на складе (WMS)"],"summary":"Списание уникального кода","description":"Помечает товар списанным с остатков","operationId":"removeItem","parameters":[{"name":"itemId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}}},
"/api/wms/putSkuToCell":{"post":{"tags":["Хранение товара на складе (WMS)"],"summary":"Разместить SKU в ячейку","description":"Позволяет положить товар в ячейку на складе","operationId":"putSkuToCell","parameters":[{"name":"cellId","in":"query","description":"Идентификатор ячейки на складе. Можно найти через метод findCell","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"skuId","in":"query","description":"SKU товара. Можно получить через метод findStock","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}}},
"/api/wms/putItemToCell":{"post":{"tags":["Хранение товара на складе (WMS)"],"summary":"Разместить уникальный код в ячейку","description":"Позволяет положить уникальный код хранения товара на складе в ячейку на складе. Вызывается в заданиях по размещению товаров","operationId":"putItemToCell","parameters":[{"name":"cellId","in":"query","description":"Идентификатор ячейки на складе. Можно найти через метод findCell","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"itemId","in":"query","description":"Уникальный код товара. Можно получить через метод findItem","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}}},
"/api/wms/mergeProductsStocksByFile":{"post":{"tags":["Хранение товара на складе (WMS)"],"summary":"Объединение товаров по остаткам","description":"Импортирует файл для объединения остатков товаров","operationId":"mergeProductsStocksByFile","requestBody":{"content":{"multipart/form-data":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TmsTask"}}}}}}},
"/api/wms/mergeProductStock":{"post":{"tags":["Хранение товара на складе (WMS)"],"summary":"Объединить остатки","description":"Позволяет объединить остатки товара с другим SKU. В этом случае остатки будут отдавать общие и при заказе любого товара будут списываться на маркетплейсах","operationId":"mergeProductStock","parameters":[{"name":"productId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"skuId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}}},
"/api/wms/lostItem":{"post":{"tags":["Хранение товара на складе (WMS)"],"summary":"Пометить уникальный код потерянным","description":"Позволяет пометить единицу товара на складе - потерянной,если ее не удалось найти. Операция вызывается при инвентаризации","operationId":"lostItem","parameters":[{"name":"wmsItemId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"inventoryId","in":"query","required":false,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WmsItem"}}}}}}},
"/api/wms/linkProductToItem":{"post":{"tags":["Хранение товара на складе (WMS)"],"summary":"Связывает уникальную код с товаром","description":"Существует две схемы получения уникальных единиц хранения товара: 1)Через поступление товара на склад Order с type = INCOME - в этом случае уникальный код уже изначально привязан к карточке товара и данный метод не нужен. 2)Когда уникальные коды распечатываются на складе и не привязаны к товару. В этом случае при размещении товаров на складе оператор должен связать уникальный код с карточкой товара по штрих-коду. Он пикает сначала уникальный код, а потом штрих-код и вызывается этот метод","operationId":"linkProductToItem","parameters":[{"name":"barcode","in":"query","description":"Штрих-код карточки товара Product.barcode","required":true,"schema":{"type":"string"}},{"name":"itemId","in":"query","description":"Уникальный идентификатор товара","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"override","in":"query","description":"Перезаписать связь","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WmsItem"}}}}}}},
"/api/wms/introduceWmsItemsByOrder":{"post":{"tags":["Хранение товара на складе (WMS)"],"summary":"Оприходует уникальные коды для заказа","description":"Позволяет оприходывать уникальные коды маркировки, привязанные к товару","operationId":"introduceWmsItemsByOrder","parameters":[{"name":"orderId","in":"query","description":"Идентификатор заказа","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TmsTask"}}}}}}},
"/api/wms/createWmsItems":{"post":{"tags":["Хранение товара на складе (WMS)"],"summary":"Создание уникальных кодов","description":"Позволяет создавать уникальные коды маркировки, не привязанные к товару и которые можно потом привязать к товару на складе","operationId":"createWmsItems","parameters":[{"name":"count","in":"query","description":"Количество уникальных кодов маркировки, которые нужно получить","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/WmsItem"}}}}}}}},
"/api/wms/createWmsItemsByOrder":{"post":{"tags":["Хранение товара на складе (WMS)"],"summary":"Создание уникальных кодов для заказа","description":"Позволяет создавать уникальные коды маркировки, привязанные к товару","operationId":"createWmsItemsByOrder","parameters":[{"name":"orderId","in":"query","description":"Идентификатор заказа","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TmsTask"}}}}}}},
"/api/wms/createInventory":{"post":{"tags":["Хранение товара на складе (WMS)"],"summary":"Старт инвентаризации товаров","description":"Начинает новую инвентаризацию товаров для определенного склада. Одновременно может быть открыта только одна инвентаризация","operationId":"createInventory","parameters":[{"name":"warehouseId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Inventory"}}}}}}},
"/api/wms/closeInventory":{"post":{"tags":["Хранение товара на складе (WMS)"],"summary":"Закрыть инвентаризацию","description":"Закрывает инвентаризацию товаров","operationId":"closeInventory","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK"}}}},
"/api/wms/changeStock":{"post":{"tags":["Хранение товара на складе (WMS)"],"summary":"Изменить остатки товара","description":"Позволяет для SKU изменить остатки на складе. Работает для всех схем хранения, как суникальными кодами, так и без них","operationId":"changeStock","parameters":[{"name":"skuId","in":"query","description":"Идентификатор SKU товара","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"stock","in":"query","description":"Остаток","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"warehouseId","in":"query","description":"Идентификатор склада","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"updateInService","in":"query","description":"Обновлять остаток на маркетплейсах","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK"}}}},
"/api/wms/addItemInventory":{"post":{"tags":["Хранение товара на складе (WMS)"],"summary":"Инвентаризация товаров","description":"Помечает уникальным код прошедний инвентаризацию","operationId":"addItemInventory","parameters":[{"name":"cellBarcode","in":"query","description":"Штрих-код ячейки на складе","required":true,"schema":{"type":"string"}},{"name":"itemId","in":"query","description":"Уникальный идентификатор товара","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"inventoryId","in":"query","description":"Идентификатор инвентаризации","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK"}}}},
"/api/wms/addItemHistoryByJob":{"post":{"tags":["Хранение товара на складе (WMS)"],"summary":"Выполненная работа в историю","description":"Позволяет добавить выполненную работу в историю товаров","operationId":"addItemHistoryByJob","parameters":[{"name":"itemId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"jobId","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK"}}}},
"/api/warehouse/updateWarehouse":{"post":{"tags":["Склад"],"summary":"Изменить склад","description":"Редактирует склад клиента","operationId":"updateWarehouse","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Warehouse"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Warehouse"}}}}}}},
"/api/warehouse/removeWarehouse":{"post":{"tags":["Склад"],"summary":"Удалить склад","description":"Помечает склад удаленным","operationId":"removeWarehouse","parameters":[{"name":"warehouseId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"restore","in":"query","required":true,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},
"/api/warehouse/removeShelf":{"post":{"tags":["Склад"],"summary":"Удаление полки на складе","description":"Удаление полки со всеми ячейками","operationId":"removeShelf","parameters":[{"name":"shelfId","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK"}}}},
"/api/warehouse/removeServiceWarehouse":{"post":{"tags":["Склад"],"summary":"Удалить привязку склада к складу маркетплейса","operationId":"removeServiceWarehouse","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceWarehouse"}}},"required":true},"responses":{"200":{"description":"OK"}}}},
"/api/warehouse/removeRack":{"post":{"tags":["Склад"],"summary":"Удаление стеллажа на складе","description":"Удаление стеллажа с полками и ячейками","operationId":"removeRack","parameters":[{"name":"rackId","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK"}}}},
"/api/warehouse/removePassage":{"post":{"tags":["Склад"],"summary":"Удаление прохода на складе","description":"Удаление прохода вместе со стеллажами, полками и ячейками","operationId":"removePassage","parameters":[{"name":"passageId","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK"}}}},
"/api/warehouse/removeCell":{"post":{"tags":["Склад"],"summary":"Удаление ячейки на складе","description":"Удаляет ячейку на складе. Возникает исключение, если к ячейке привязаны товары и удаление невозможно","operationId":"removeCell","parameters":[{"name":"cellId","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK"}}}},
"/api/warehouse/getCellsByFilter":{"post":{"tags":["Склад"],"summary":"Получить ячейки по фильтру","description":"Позволяет получить список ячеек по id склада, прохода, стеллажа или полки. Фильтр принимает один параметр","operationId":"getCellsByFilter","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CellFilter"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Cell"}}}}}}}},
"/api/warehouse/createWarehouse":{"post":{"tags":["Склад"],"summary":"Создать склад","description":"Создает новый склад клиента","operationId":"createWarehouse","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Warehouse"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Warehouse"}}}}}}},
"/api/warehouse/createServiceWarehouse":{"post":{"tags":["Склад"],"summary":"Добавить привязку склада к складу маркетплейса","operationId":"createServiceWarehouse","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceWarehouse"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ServiceWarehouse"}}}}}}},
"/api/warehouse/createOrUpdateShelf":{"post":{"tags":["Склад"],"summary":"Создание или обновление полки","description":"Позволяет создать или обновить полку на складе","operationId":"createOrUpdateShelf","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Shelf"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Shelf"}}}}}}},
"/api/warehouse/createOrUpdateRack":{"post":{"tags":["Склад"],"summary":"Создание или обновление стеллажа","description":"Позволяет создать или обновить стеллаж на складе","operationId":"createOrUpdateRack","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Rack"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Rack"}}}}}}},
"/api/warehouse/createOrUpdatePassage":{"post":{"tags":["Склад"],"summary":"Создание или обновление прохода","description":"Позволяет создать или обновить проход на складе","operationId":"createOrUpdatePassage","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Passage"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Passage"}}}}}}},
"/api/warehouse/createOrUpdateCell":{"post":{"tags":["Склад"],"summary":"Создание или обновление ячейки","description":"Позволяет создать или обновить ячейку на складе","operationId":"createOrUpdateCell","parameters":[{"name":"passageId","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"rackId","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"shelfId","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Cell"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Cell"}}}}}}},
"/api/task/runTask":{"post":{"tags":["Задачи"],"summary":"Запустить задачу","description":"Запускает поставленную в очередь задачу. Метод доступен только суперпользователям","operationId":"runTask","parameters":[{"name":"taskId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"boolean"}}}}}}},
"/api/task/cancelTask":{"post":{"tags":["Задачи"],"summary":"Отменить задачу","description":"Отменить выполнение задачи","operationId":"cancelTask","parameters":[{"name":"taskId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TmsTask"}}}}}}},
"/api/supply/updateSupply":{"post":{"tags":["Поставки товаров"],"summary":"Изменить поставку","description":"Обновляет поставку","operationId":"updateSupply","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Supply"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Supply"}}}}}}},
"/api/supply/updateOrderStatus":{"post":{"tags":["Поставки товаров"],"summary":"Изменение статуса заказа","description":"Изменяет статус заказа по идентификатору","operationId":"updateOrderStatus","parameters":[{"name":"orderId","in":"query","description":"Идентификатор заказа","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"status","in":"query","description":"Новый статус заказа","required":true,"schema":{"type":"string","description":"Статус заказа","enum":["CREATED","REVOKING","REVOKED","ORDER_CREATED","CARDS_CREATED","BOX_BARCODES","IMAGES_UPLOADED","INVOICE_UPLOADED","READY_TO_SUPPLY","SUPPLIED","FINISHED","COLLECTED","SEND","DELIVERY","REFUND","COLLECTING","PACKING","PAYMENT_REQUIRED","CANCELED","CONTROVERSIAL","OVERDUE","READY_FOR_PICKUP"]}}],"responses":{"200":{"description":"OK"}}}},
"/api/supply/updateJobWork":{"post":{"tags":["Поставки товаров"],"summary":"Изменить выполненную работу","description":"Изменяет информацю о выполненной работе","operationId":"updateJobWork","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/JobWork"}}},"required":true},"responses":{"200":{"description":"OK"}}}},
"/api/supply/updateAcceptedProducts":{"post":{"tags":["Поставки товаров"],"summary":"Обновление списка принятых Wildberries товаров","description":"Из Excel файла выбирает информацию о принятых товарах и обновляет информацию о расхождениях приемки","operationId":"updateAcceptedProducts","parameters":[{"name":"supplyId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK"}}}},
"/api/supply/storeJobWork":{"post":{"tags":["Поставки товаров"],"summary":"Изменить выполненные работы","description":"Изменяет информацию о выполненных работах","operationId":"storeJobWork","parameters":[{"name":"orderId","in":"query","description":"Идентификатор заказа","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"jobId","in":"query","description":"Идентификатор выполненной работы","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","description":"Список выполненных работ","items":{"$ref":"#/components/schemas/JobWork"}}}},"required":true},"responses":{"200":{"description":"OK"}}}},
"/api/supply/setSupplyForOrder":{"post":{"tags":["Поставки товаров"],"summary":"Проставляет поставку для заказа","description":"Присваивает поставку для заказа","operationId":"setSupplyForOrder","parameters":[{"name":"orderId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"supplyId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},
"/api/supply/sendDocument":{"post":{"tags":["Поставки товаров"],"summary":"Отправляет документы для ввода в оборот","description":"Отправляет подписанные документы для ввода в оборот кодов маркировки Честного знака","operationId":"sendDocument","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CrptDocument"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},
"/api/supply/removeOrderFromSupply":{"post":{"tags":["Поставки товаров"],"summary":"Удаление заказа из поставки","description":"Открепляет заказ от поставки на маркетплейс","operationId":"removeOrderFromSupply","parameters":[{"name":"orderId","in":"query","description":"Идентификатор заказа","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}}},
"/api/supply/removeJobWorkByBarcode":{"post":{"tags":["Поставки товаров"],"summary":"Удаление выполненных работ по штрих-коду","description":"Удаляет выполненные работы по упаковке товаров по штрих-коду товара","operationId":"removeJobWorkByBarcode","parameters":[{"name":"barcode","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},
"/api/supply/parseBoxBarcodesFile":{"post":{"tags":["Поставки товаров"],"summary":"Извлекает штрих-коды коробов из Excel файла скачанного с Wildberries","description":"Обрабатывает файл и выдает список ШК коробов из него","operationId":"parseBoxBarcodesFile","requestBody":{"content":{"multipart/form-data":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Box"}}}}}}}},
"/api/supply/getProducts":{"post":{"tags":["Поставки товаров"],"summary":"Получение списка товаров","description":"Получает список товаров по идентификаторам","operationId":"getProducts","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"integer","format":"int64"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/OrderProduct"}}}}}}}},
"/api/supply/getProductsByIncome":{"post":{"tags":["Поставки товаров"],"summary":"Получение списка товаров","description":"Получает список товаров по идентификаторам","operationId":"getProductsByIncome","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/OrderProduct"}}}}}}}},
"/api/supply/getProductsByFile":{"post":{"tags":["Поставки товаров"],"summary":"Получение списка товаров из файла","description":"Получает список товаров по Excel файлу Wildberries","operationId":"getProductsByFile","requestBody":{"content":{"multipart/form-data":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProductsResult"}}}}}}},
"/api/supply/getProductsByBarcode":{"post":{"tags":["Поставки товаров"],"summary":"Получение товаров по штрих-коду","description":"Позволяет получить список товаров для добавления в поставку по штрих-кодам","operationId":"getProductsByBarcode","requestBody":{"content":{"application/json":{"schema":{"type":"array","description":"Список штрих-кодов","items":{"type":"string"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/OrderProduct"}}}}}}}},
"/api/supply/getOrCreateBox":{"post":{"tags":["Поставки товаров"],"summary":"Создание нового короба","description":"Создает новый короб по штрих-коду короба и штрих-коду товара","operationId":"getOrCreateBox","parameters":[{"name":"barcode","in":"query","description":"Штрих-код короба","required":true,"schema":{"type":"string"}},{"name":"productBarcode","in":"query","description":"Штрих-код товара","required":true,"schema":{"type":"string"}},{"name":"orderId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Box"}}}}}}},
"/api/supply/getFeedDocumentsToSign":{"post":{"tags":["Поставки товаров"],"summary":"Получение документов для подписи карточек","description":"Получает документы для подписания карточек в национальном каталоге Честного знака","operationId":"getFeedDocumentsToSign","parameters":[{"name":"organizationId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"integer","format":"int64"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/FeedProductDocument"}}}}}}}},
"/api/supply/getCodesFromSuz":{"post":{"tags":["Поставки товаров"],"summary":"Получение кодов маркировки из заказа СУЗ","description":"Проверяет статус заказа СУЗ и получает маркировку этого заказа","operationId":"getCodesFromSuz","parameters":[{"name":"suzOrderId","in":"query","description":"Идентификатор заказа","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}}},
"/api/supply/fixBoxBarcode":{"post":{"tags":["Поставки товаров"],"summary":"Исправление короба для товара","description":"Позволяет из задания оператора изменить короб для товара","operationId":"fixBoxBarcode","parameters":[{"name":"productBarcode","in":"query","required":true,"schema":{"type":"string"}},{"name":"boxBarcode","in":"query","required":true,"schema":{"type":"string"}},{"name":"orderId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"integer","format":"int32"}}}}}}},
"/api/supply/fetchJobWork":{"post":{"tags":["Поставки товаров"],"summary":"Получение списка выполненных работ по упаковке товаров","operationId":"fetchJobWork","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/JobWorkFilter"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/JobWork"}}}}}}}},
"/api/supply/feedProductSign":{"post":{"tags":["Поставки товаров"],"summary":"Отправляет подписанные документы национального каталога","description":"Отправляет подписанные документы национального каталога","operationId":"feedProductSign","parameters":[{"name":"organizationId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ProductFeedSign"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/FeedProductDocument"}}}}}}}},
"/api/supply/createSupply":{"post":{"tags":["Поставки товаров"],"summary":"Создание новой поставки","description":"Создает новую поставку на определенную дату и добавляетуказанный заказ в нее","operationId":"createSupply","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Supply"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Supply"}}}}}}},
"/api/supply/createQrBox":{"post":{"tags":["Поставки товаров"],"summary":"Создание QR короба","description":"Создает новый QR короб","operationId":"createQrBox","parameters":[{"name":"lastNumber","in":"query","description":"Последний номер короба. Генерируется автоматически, если не указан","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"quantity","in":"query","description":"Количество шт в коробе","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"orderId","in":"query","description":"Номер заказа","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Box"}}}}}}},
"/api/supply/createDriver":{"post":{"tags":["Поставки товаров"],"summary":"Добавление водителя","description":"Создает нового водителя, который везет заказ по FBM","operationId":"createDriver","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Driver"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Driver"}}}}}}},
"/api/supply/createCodes":{"post":{"tags":["Поставки товаров"],"summary":"Получение кодов маркировки","description":"Проверяет наличие кодов маркировки на все товары из заказа и при отсутствии создает заказ на получение кодов маркировки в СУЗ","operationId":"createCodes","parameters":[{"name":"orderId","in":"query","description":"Идентификатор заказа","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SuzOrderDocument"}}}}}}}},
"/api/supply/closeSupply":{"post":{"tags":["Поставки товаров"],"summary":"Закрыть поставку","description":"Закрывает поставку товар на маркетплейс,переводит все заказы в статус завершен или закрыт","operationId":"closeSupply","parameters":[{"name":"supplyId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"status","in":"query","required":true,"schema":{"type":"string","description":"Статус поставки","enum":["CREATED","READY_TO_SUPPLY","SUPPLIED","FINISHED"]}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},
"/api/supply/addPack":{"post":{"tags":["Поставки товаров"],"summary":"Добавить товар в короб при упаковке","description":"Добавляет новый товар в короб при упаковке товаров на маркетплейс","operationId":"addPack","parameters":[{"name":"jobId","in":"query","description":"Идентификатор работы","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"boxId","in":"query","description":"Идентификатор короба","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"barcode","in":"query","description":"Штрих-код карточки товара","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/JobWork"}}}}}}},
"/api/stat/updatePurchasePriceTask":{"post":{"tags":["Аналитика"],"summary":"Обновление закупочных цен в аналитике","description":"Метод ставит в очередь задачу по обновлению закупочных цен и прочих расходов в аналитике по данным из товаров","operationId":"updatePurchasePriceTask","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserStatRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TmsTask"}}}}}}},
"/api/stat/reDownloadAnalytics":{"post":{"tags":["Аналитика"],"summary":"Задача на перезакачку аналитики","description":"Создает задачу на перезакачку аналитике по маркетплейсам.","operationId":"reDownloadAnalytics","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserStatRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TmsTask"}}}}}}},
"/api/stat/importWildberriesRealizationFile":{"post":{"tags":["Аналитика"],"summary":"Импорт стоимости хранения","description":"Метод принимает файл в формате multipart/form-data и создает задачу по импорту стоимости хранения и прочие удержаний из файла WB по реализации","operationId":"importWildberriesRealizationFile","parameters":[{"name":"clientOrganizationId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"saveTotalToBePaid","in":"query","required":false,"schema":{"type":"boolean"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TmsTask"}}}}}}},
"/api/stat/importProfitReportFromExcelFile":{"post":{"tags":["Аналитика"],"summary":"Импорт Excel профит репорт","description":"Создает задачу импорта Excel файла с данными реализации по МП.","operationId":"importProfitReportFromExcelFile","requestBody":{"content":{"multipart/form-data":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TmsTask"}}}}}}},
"/api/stat/importPlanSalesFromExcelFile":{"post":{"tags":["Аналитика"],"summary":"Импорт Excel плана продаж","description":"Создает задачу импорта Excel файла с понедельным планом продаж","operationId":"importPlanSalesFromExcelFile","parameters":[{"name":"clientOrganizationId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TmsTask"}}}}}}},
"/api/stat/importBankTransactionFromFile":{"post":{"tags":["Аналитика"],"summary":"Импорт выписки из банка","description":"Метод принимает файл в формате multipart/form-data из банковской выписки операции с МП. Выписка из банка выгружается в формате 1C.","operationId":"importBankTransactionFromFile","parameters":[{"name":"clientOrganizationId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"saveAll","in":"query","required":false,"schema":{"type":"boolean"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TmsTask"}}}}}}},
"/api/stat/getUsersStats":{"post":{"tags":["Аналитика"],"summary":"Данные о раскладке товаров операторами","description":"Возвращает информацию о раскладке за период","operationId":"getUsersStats","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserStatRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UsersStat"}}}}}}},
"/api/stat/getUsersJobStats":{"post":{"tags":["Аналитика"],"summary":"Данные о выполненных работах","description":"Возвращает информацию о количестве созданных карточек и добавленных в поставку товаров","operationId":"getUsersJobStats","parameters":[{"name":"jobId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserStatRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UsersStat"}}}}}}},
"/api/stat/getTaxes":{"post":{"tags":["Аналитика"],"summary":"Налоги","description":"Метод возвращает данные о предполагаемом налоге с продаж.","operationId":"getTaxes","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserStatRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Taxes"}}}}}}}},
"/api/stat/getServiceStructure":{"post":{"tags":["Аналитика"],"summary":"Структура услуг","description":"Метод получает данные по структуре услуг.Обязательно нужно передать в запросе dateTo, dateFromНе обязательные поля clientOrganizationId, serviceIds","operationId":"getServiceStructure","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AnalyticsRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/RowStructureForFinanceTable"}}}}}}}},
"/api/stat/getSalesReportForGraphic":{"post":{"tags":["Аналитика"],"summary":"График по продажам","description":"Метод возвращает данные о продажах и возвратах и группирует их по сервисам.Обязательно передать dateFrom, dateToне обязательные поля clientOrganizationId, services","operationId":"getSalesReportForGraphic","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserStatRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SalesReportForGraphic"}}}}}}}},
"/api/stat/getProfitStructure":{"post":{"tags":["Аналитика"],"summary":"Структура выручки","description":"Метод получает данные по структуре дохода.Обязательно нужно передать в запросе dateTo, dateFrom, periodНе обязательные поля clientOrganizationId, serviceIds","operationId":"getProfitStructure","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AnalyticsRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GetFinanceStructureResult"}}}}}}},
"/api/stat/getProfitStat":{"post":{"tags":["Аналитика"],"summary":"Данные по продажам","description":"Метод возвращает данные по продажам за период.","operationId":"getProfitStat","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"field","in":"query","required":true,"schema":{"type":"string","enum":["PRODUCT","MODEL","GROUP","ORGANIZATION","CLIENT","CATEGORY","PRODUCT_VIEW"]}},{"name":"service","in":"query","required":false,"schema":{"type":"string","description":"Сервис","enum":["NONE","WILDBERRIES","OZON","YANDEX_MARKET","FAMILIYA","NATIONAL_CATALOG","ALIEXPRESS","OTHER","MOY_SKLAD","SBER_MEGA_MARKET","CISLINK","ONE_C","AVITO","LEROY_MERLIN","DETMIR","KAZAN_EXPRESS"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserStatRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProductStats"}}}}}}},
"/api/stat/getProfitDifferenceForPeriod":{"post":{"tags":["Аналитика"],"summary":"Дашборд аналитики","description":"Метод возвращает данные за текущий период и такой же предыдущий.","operationId":"getProfitDifferenceForPeriod","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"field","in":"query","required":true,"schema":{"type":"string","enum":["PRODUCT","MODEL","GROUP","ORGANIZATION","CLIENT","CATEGORY","PRODUCT_VIEW"]}},{"name":"service","in":"query","required":true,"schema":{"type":"string","description":"Сервис","enum":["NONE","WILDBERRIES","OZON","YANDEX_MARKET","FAMILIYA","NATIONAL_CATALOG","ALIEXPRESS","OTHER","MOY_SKLAD","SBER_MEGA_MARKET","CISLINK","ONE_C","AVITO","LEROY_MERLIN","DETMIR","KAZAN_EXPRESS"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserStatRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ProductStats"}}}}}}}},
"/api/stat/getProductBalanceResult":{"post":{"tags":["Аналитика"],"summary":"Отчет по остаткам","description":"Метод получает данные по остаткам на текущий момент и подсчитывает на какой период еще хватит товара. Обязательно нужно передать в запросе dateTo, dateFromНе обязательные поля clientOrganizationId, serviceIds","operationId":"getProductBalanceResult","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AnalyticsRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GetProductBalanceResult"}}}}}}},
"/api/stat/getProductAnalyticsByField":{"post":{"tags":["Аналитика"],"summary":"Товарная аналитика","description":"Метод получает данные по товарной аналитике. Обязательно нужно передать в запросе dateTo, dateFrom, productAnalyticField.Не обязательные поля clientOrganizationId, serviceIds.Поле - period не используется.","operationId":"getProductAnalyticsByField","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AnalyticsRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FindResponseProductAnalytics"}}}}}}},
"/api/stat/getPenaltyStructure":{"post":{"tags":["Аналитика"],"summary":"Структура расходов","description":"Метод получает данные по структуре штрафов.Обязательно нужно передать в запросе dateTo, dateFrom, periodНе обязательные поля clientOrganizationId, serviceIds","operationId":"getPenaltyStructure","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AnalyticsRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/RowStructureForFinanceTable"}}}}}}}},
"/api/stat/getOrderSaleStat":{"post":{"tags":["Аналитика"],"summary":"Заказы","description":"Метод возвращает данные о заказах за период","operationId":"getOrderSaleStat","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"service","in":"query","required":false,"schema":{"type":"string","description":"Сервис","enum":["NONE","WILDBERRIES","OZON","YANDEX_MARKET","FAMILIYA","NATIONAL_CATALOG","ALIEXPRESS","OTHER","MOY_SKLAD","SBER_MEGA_MARKET","CISLINK","ONE_C","AVITO","LEROY_MERLIN","DETMIR","KAZAN_EXPRESS"]}},{"name":"field","in":"query","required":true,"schema":{"type":"string","enum":["PRODUCT","MODEL","GROUP","ORGANIZATION","CLIENT","CATEGORY","PRODUCT_VIEW"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserStatRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProductStats"}}}}}}},
"/api/stat/getOrderReport":{"post":{"tags":["Аналитика"],"summary":"Отчет по по заказам","description":"Метод получает данные по заказам с группировкой по заказу и товару (для одного заказа с 3 разными товарами в отчете будет 3 строки).","operationId":"getOrderReport","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrderFilter"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FindResponseOrderReport"}}}}}}},
"/api/stat/getOperatorJobStats":{"post":{"tags":["Аналитика"],"summary":"Данные о выполненных задания","description":"Возвращает информацию о выполненных заданиях сотрудников за период","operationId":"getOperatorJobStats","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserStatRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UsersStat"}}}}}}},
"/api/stat/getIncomePriceStats":{"post":{"tags":["Аналитика"],"summary":"Данные о заказах поставщикам","description":"Возвращает информацию о заказах поставщикам для расчетов с контрагентами","operationId":"getIncomePriceStats","parameters":[{"name":"modelId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProductStats"}}}}}}},
"/api/stat/getFinancesReportByPeriod":{"post":{"tags":["Аналитика"],"summary":"Финансовый отчет","description":"Метод получает данные по финансовой аналитике. Обязательно нужно передать в запросе dateTo, dateFrom, periodНе обязательные поля clientOrganizationId, serviceIds","operationId":"getFinancesReportByPeriod","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AnalyticsRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FindResponseFinanceReport"}}}}}}},
"/api/stat/getCountFbsFbo":{"post":{"tags":["Аналитика"],"summary":"Остатки на дашборде FBO/FBS","description":"Получить кол-во и сумму остатков по FBS и FBO","operationId":"getCountFbsFbo","parameters":[{"name":"service","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","description":"Сервис","enum":["NONE","WILDBERRIES","OZON","YANDEX_MARKET","FAMILIYA","NATIONAL_CATALOG","ALIEXPRESS","OTHER","MOY_SKLAD","SBER_MEGA_MARKET","CISLINK","ONE_C","AVITO","LEROY_MERLIN","DETMIR","KAZAN_EXPRESS"]}}},{"name":"fieldId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"field","in":"query","required":false,"schema":{"type":"string","enum":["PRODUCT","MODEL","GROUP","ORGANIZATION","CLIENT","CATEGORY","PRODUCT_VIEW"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserStatRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StockBalance"}}}}}}},
"/api/stat/getCostStructure":{"post":{"tags":["Аналитика"],"summary":"Структура расходов","description":"Метод получает данные по структуре расходов.Обязательно нужно передать в запросе dateTo, dateFrom, periodНе обязательные поля clientOrganizationId, serviceIds","operationId":"getCostStructure","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AnalyticsRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GetFinanceStructureResult"}}}}}}},
"/api/stat/getContractorsReport":{"post":{"tags":["Аналитика"],"summary":"Отчет по поставщикам","description":"Метод получает данные по продажам и остаткам товара по каждому поставщику.","operationId":"getContractorsReport","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AnalyticsRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FindResponseContractorsReport"}}}}}}},
"/api/stat/getAggregateProductStatsByField":{"post":{"tags":["Аналитика"],"summary":"Аналитика по модели/цвету или размеру","description":"Метод возвращает агрегированные данные по Product.Size","operationId":"getAggregateProductStatsByField","parameters":[{"name":"entityId","in":"query","description":"Идентификатор модели, цвета, размера или категории, в зависимости от field","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"field","in":"query","description":"Тип сущности для которой рассчитывает данные","required":true,"schema":{"type":"string","enum":["PRODUCT","MODEL","GROUP","ORGANIZATION","CLIENT","CATEGORY","PRODUCT_VIEW"]}},{"name":"service","in":"query","description":"Маркетплейс","required":false,"schema":{"type":"string","description":"Сервис","enum":["NONE","WILDBERRIES","OZON","YANDEX_MARKET","FAMILIYA","NATIONAL_CATALOG","ALIEXPRESS","OTHER","MOY_SKLAD","SBER_MEGA_MARKET","CISLINK","ONE_C","AVITO","LEROY_MERLIN","DETMIR","KAZAN_EXPRESS"]}},{"name":"groupBy","in":"query","description":"Группировать по","required":true,"schema":{"type":"string","enum":["COLOR","SIZE"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserStatRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProductStats"}}}}}}},
"/api/stat/getAggregateDataByCategory":{"post":{"tags":["Аналитика"],"summary":"Товарная аналитика по категориям","description":"Метод возвращает агрегируемые данные для каждой категории товара из отчета по операциям за определенный период","operationId":"getAggregateDataByCategory","parameters":[{"name":"service","in":"query","required":true,"schema":{"type":"string","description":"Сервис","enum":["NONE","WILDBERRIES","OZON","YANDEX_MARKET","FAMILIYA","NATIONAL_CATALOG","ALIEXPRESS","OTHER","MOY_SKLAD","SBER_MEGA_MARKET","CISLINK","ONE_C","AVITO","LEROY_MERLIN","DETMIR","KAZAN_EXPRESS"]}},{"name":"field","in":"query","required":false,"schema":{"type":"string","enum":["PRODUCT","MODEL","GROUP","ORGANIZATION","CLIENT","CATEGORY","PRODUCT_VIEW"]}},{"name":"fieldId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserStatRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProductStats"}}}}}}},
"/api/stat/getAbcAnalysisByRevenue":{"post":{"tags":["Аналитика"],"summary":"ABC анализ по выручке","description":"Возвращает ABC анализ по выручке","operationId":"getAbcAnalysisByRevenue","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AnalyticsRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AbcAnalysisResult"}}}}}}},
"/api/stat/getAbcAnalysisByGrossProfit":{"post":{"tags":["Аналитика"],"summary":"ABC анализ по валовой прибыли","description":"Возвращает результат ABC анализа по валовой прибыли","operationId":"getAbcAnalysisByGrossProfit","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AnalyticsRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AbcAnalysisResult"}}}}}}},
"/api/stat/addDownloadProductAnalyticsFileTask":{"post":{"tags":["Аналитика"],"summary":"Excel товарной аналитики","description":"Создает задачу на скачивание Excel файла с данными по товарной аналитике.Обязательно нужно передать в запросе dateTo, dateFrom.Не обязательные поля clientOrganizationId, serviceIds.Поле - period и productAnalyticField не используются.Добавлена возможность отсортировать список по полю sortBy и по порядку ascending.","operationId":"addDownloadProductAnalyticsFileTask","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AnalyticsRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TmsTask"}}}}}}},
"/api/stat/addDownloadOrderReportFile":{"post":{"tags":["Аналитика"],"summary":"Экспорт позаказного Excel файла","description":"Создает задачу на скачивание Excel файла с данными по заказам","operationId":"addDownloadOrderReportFile","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrderFilter"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TmsTask"}}}}}}},
"/api/stat/addDownloadFileSalesDynamicReportByPeriodTask":{"post":{"tags":["Аналитика"],"summary":"Excel отчет динамики продаж","description":"Создает задачу на скачивание Excel файла с данными по динамике продаж.Обязательно нужно передать в запросе dateTo, dateFrom, periodНе обязательные поля clientOrganizationId, serviceIds","operationId":"addDownloadFileSalesDynamicReportByPeriodTask","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AnalyticsRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TmsTask"}}}}}}},
"/api/stat/addDownloadFileProductBalanceDynamicsTask":{"post":{"tags":["Аналитика"],"summary":"Excel динамика остатков","description":"Создает задачу на скачивание Excel файла с данными по динамике остаткам за период.Обязательно нужно передать в запросе dateTo, dateFrom, periodНе обязательные поля clientOrganizationId, serviceIds","operationId":"addDownloadFileProductBalanceDynamicsTask","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AnalyticsRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TmsTask"}}}}}}},
"/api/stat/addDownloadFileFinancesReportByPeriodTask":{"post":{"tags":["Аналитика"],"summary":"Excel финансового отчета","description":"Создает задачу на скачивание Excel файла с данными по финансовой аналитике.Обязательно нужно передать в запросе dateTo, dateFrom, periodНе обязательные поля clientOrganizationId, serviceIds","operationId":"addDownloadFileFinancesReportByPeriodTask","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AnalyticsRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TmsTask"}}}}}}},
"/api/stat/addDownloadFileCurrentProductBalance":{"post":{"tags":["Аналитика"],"summary":"Excel отчет по остаткам","description":"Создает задачу на скачивание Excel файла с данными по остаткам на текущий момент.Обязательно нужно передать в запросе dateTo, dateFrom, для расчетов.Не обязательное поле clientOrganizationId","operationId":"addDownloadFileCurrentProductBalance","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AnalyticsRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TmsTask"}}}}}}},
"/api/stat/addDownloadFileAbcReport":{"post":{"tags":["Аналитика"],"summary":"Excel файл ABC анализа","description":"Ставит в очередь задачу на создание Excel файла с ABC анализом по выручке и валовой прибыли.","operationId":"addDownloadFileAbcReport","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AnalyticsRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TmsTask"}}}}}}},
"/api/site/storeSite":{"post":{"tags":["Интеграция с сайтом"],"summary":"Сохраняет интеграцию","description":"Возвращает информацию о количестве созданных карточек и добавленных в поставку товаров","operationId":"storeSite","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Site"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Site"}}}}}}},
"/api/site/getFiles":{"post":{"tags":["Интеграция с сайтом"],"summary":"Возвращает список файлов в обработке","description":"Возвращает файлы отправленные на сайт и не обработанные","operationId":"getFiles","parameters":[{"name":"siteId","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SiteFile"}}}}}}}},
"/api/qualityDocument/uploadQualityDocumentImage":{"post":{"tags":["Сертификаты качества"],"summary":"Загрузка изображения сертификата качества","description":"Позволяет загрузить изображение и связать его с сертификатом","operationId":"uploadQualityDocumentImage","parameters":[{"name":"documentId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/QualityDocumentImage"}}}}}}},
"/api/qualityDocument/updateQualityDocument":{"post":{"tags":["Сертификаты качества"],"summary":"Обновить сертификат качества","operationId":"updateQualityDocument","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/QualityDocument"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/QualityDocument"}}}}}}},
"/api/qualityDocument/removeQualityDocument":{"post":{"tags":["Сертификаты качества"],"summary":"Удаление сертификата","operationId":"removeQualityDocument","parameters":[{"name":"documentId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}}},
"/api/qualityDocument/deleteQualityDocumentImage":{"post":{"tags":["Сертификаты качества"],"summary":"Удаление изображения сертификата","operationId":"deleteQualityDocumentImage","parameters":[{"name":"imageId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}}},
"/api/qualityDocument/createQualityDocument":{"post":{"tags":["Сертификаты качества"],"summary":"Добавление нового сертификата","operationId":"createQualityDocument","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/QualityDocument"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/QualityDocument"}}}}}}},
"/api/property/updateProperty":{"post":{"tags":["Настройки"],"summary":"Изменить настройки","description":"Изменяет настройки для компонента","operationId":"updateProperty","parameters":[{"name":"organizationId","in":"query","description":"Организация для настроек. Можно не передавать, если настройки не зависят от организации","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"component","in":"query","description":"Компонент, для которого сохраняются настройки","required":true,"schema":{"type":"string"}},{"name":"name","in":"query","description":"Название свойства","required":true,"schema":{"type":"string"}},{"name":"value","in":"query","description":"Значение свойства","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},
  "/api/product/getModelById":{"get":{"tags":["Товары"],"summary":"Информации о модели","description":"Возвращает модель со списком всех цветов и размеров","operationId":"getModelById","parameters":[{"name":"id","in":"query","description":"Идентификатор модели","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProductModel"}}}}}}},
  "/api/product/findProduct":{"get":{"tags":["Товары"],"summary":"Поиск товаров","description":"Возвращает список товаров по фильтру","operationId":"findProduct","parameters":[{"name":"query","in":"query","description":"Поисковый запрос. Может содержать штрих-код, часть названия товара, внешние идентификаторы товаров Wildberries или Ozon","required":false,"schema":{"type":"string","description":"Поисковый запрос. Может содержать штрих-код, часть названия товара, внешние идентификаторы товаров Wildberries или Ozon"}},{"name":"article","in":"query","description":"Поиск по названию артикула товара","required":false,"schema":{"type":"string","description":"Поиск по названию артикула товара"}},{"name":"color","in":"query","description":"Поиск по названию цвета товара","required":false,"schema":{"type":"string","description":"Поиск по названию цвета товара"}},{"name":"viewId","in":"query","description":"Поиск по идентификатору цвета","required":false,"schema":{"type":"string","description":"Поиск по идентификатору цвета"}},{"name":"skuViewId","in":"query","description":"Поиск по SKU идентификатору цвета","required":false,"schema":{"type":"string","description":"Поиск по SKU идентификатору цвета"}},{"name":"modelId","in":"query","description":"Поиск по идентификатору модели","required":false,"schema":{"type":"string","description":"Поиск по идентификатору модели"}},{"name":"unprofitable","in":"query","description":"Товары с отрицательной маржинальностью","required":false,"schema":{"type":"string","description":"Товары с отрицательной маржинальностью"}},{"name":"needToBuy","in":"query","description":"Товары, которые нужно показать в списке для заказа","required":false,"schema":{"type":"string","description":"Товары, которые нужно показать в списке для заказа"}},{"name":"organizations","in":"query","description":"Ограничивает список организаций","required":false,"schema":{"type":"string","description":"Ограничивает список организаций"}},{"name":"needUpdatePrice","in":"query","description":"Фильтр по необходимости обновить цену на Wildberries","required":false,"schema":{"type":"string","description":"Фильтр по необходимости обновить цену на Wildberries"}},{"name":"hasImages","in":"query","description":"Наличие или отсутствие картинок у товара","required":false,"schema":{"type":"string","description":"Наличие или отсутствие картинок у товара"}},{"name":"isDuplicate","in":"query","description":"Карточка является дубликатом","required":false,"schema":{"type":"string","description":"Карточка является дубликатом"}},{"name":"hasWildberriesId","in":"query","description":"Наличие карточки товара в Wildberries","required":false,"schema":{"type":"string","description":"Наличие карточки товара в Wildberries"}},{"name":"hasSupplyingQuantity","in":"query","description":"Наличие поставляемого количества по модели FBM","required":false,"schema":{"type":"string","description":"Наличие поставляемого количества по модели FBM"}},{"name":"noWbImages","in":"query","description":"Наличие фото на Wildberries","required":false,"schema":{"type":"string","description":"Наличие фото на Wildberries"}},{"name":"noOzonImages","in":"query","description":"Наличие фото на Ozon","required":false,"schema":{"type":"string","description":"Наличие фото на Ozon"}},{"name":"noYMImages","in":"query","description":"Наличие фото на Яндекс.Маркет","required":false,"schema":{"type":"string","description":"Наличие фото на Яндекс.Маркет"}},{"name":"deleted","in":"query","description":"Показать помеченные удаленными товары","required":false,"schema":{"type":"string","description":"Показать помеченные удаленными товары"}},{"name":"modelDeleted","in":"query","description":"Показать помеченные удаленными модели","required":false,"schema":{"type":"string","description":"Показать помеченные удаленными модели"}},{"name":"viewDeleted","in":"query","description":"Показать помеченные удаленными цвета","required":false,"schema":{"type":"string","description":"Показать помеченные удаленными цвета"}},{"name":"inStock","in":"query","description":"Наличие остатков товаров на маркетплейсе или складе","required":false,"schema":{"type":"string","description":"Наличие остатков товаров на маркетплейсе или складе"}},{"name":"noStock","in":"query","description":"Отсутствие остатков товаров на маркетплейсе и складе","required":false,"schema":{"type":"string","description":"Отсутствие остатков товаров на маркетплейсе и складе"}},{"name":"inFbsStock","in":"query","description":"Наличие остатков на складах в SelSup","required":false,"schema":{"type":"string","description":"Наличие остатков на складах в SelSup"}},{"name":"noFbsStock","in":"query","description":"Отсутствие остатков на складах в SelSup","required":false,"schema":{"type":"string","description":"Отсутствие остатков на складах в SelSup"}},{"name":"hasStockInWarehouse","in":"query","description":"Склад на котором есть остатки в SelSup","required":false,"schema":{"type":"string","description":"Склад на котором есть остатки в SelSup"}},{"name":"noStockInWarehouse","in":"query","description":"Склад на котором нет остатков в SelSup","required":false,"schema":{"type":"string","description":"Склад на котором нет остатков в SelSup"}},{"name":"grouped","in":"query","description":"Группировать товары по цветам","required":false,"schema":{"type":"string","description":"Группировать товары по цветам"}},{"name":"uniqView","in":"query","description":"Отдавать только товары с уникальными цвета","required":false,"schema":{"type":"string","description":"Отдавать только товары с уникальными цвета"}},{"name":"uniqViewSku","in":"query","description":"Отдавать только товары с уникальными цвета без дубликатов по остаткам","required":false,"schema":{"type":"string","description":"Отдавать только товары с уникальными цвета без дубликатов по остаткам"}},{"name":"uniqModel","in":"query","description":"Отдавать только товары с уникальными моделями","required":false,"schema":{"type":"string","description":"Отдавать только товары с уникальными моделями"}},{"name":"uniqSku","in":"query","description":"Отдавать только товары с уникальными SKU","required":false,"schema":{"type":"string","description":"Отдавать только товары с уникальными SKU"}},{"name":"contractors","in":"query","description":"Фильтр по поставщикам товара","required":false,"schema":{"type":"string","description":"Фильтр по поставщикам товара"}},{"name":"categories","in":"query","description":"Фильтр категориям товара","required":false,"schema":{"type":"string","description":"Фильтр категориям товара"}},{"name":"brands","in":"query","description":"Фильтр по брендам товара","required":false,"schema":{"type":"string","description":"Фильтр по брендам товара"}},{"name":"stockRefreshDate","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"wildberriesRating","in":"query","description":"Фильтр товаров по рейтингу отзывов Вайлдбериз","required":false,"schema":{"type":"string","description":"Фильтр товаров по рейтингу отзывов Вайлдбериз"}},{"name":"wildberriesCardDoesNotOpen","in":"query","description":"Фильтр товаров для не открывается карточка в Вайлдбериз: значит не создана карточка, либо не загружены картинки и пр","required":false,"schema":{"type":"string","description":"Фильтр товаров для не открывается карточка в Вайлдбериз: значит не создана карточка, либо не загружены картинки и пр"}},{"name":"productId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"needImportWildberriesCard","in":"query","description":"Фильтр товаров для которых нужно обновить карточку в Вайлдбериз","required":false,"schema":{"type":"string","description":"Фильтр товаров для которых нужно обновить карточку в Вайлдбериз"}},{"name":"needImportOzonCard","in":"query","description":"Фильтр товаров для которых нужно обновить карточку в Ozon","required":false,"schema":{"type":"string","description":"Фильтр товаров для которых нужно обновить карточку в Ozon"}},{"name":"needImportAliexpressCard","in":"query","description":"Фильтр товаров для которых нужно обновить карточку в Aliexpress","required":false,"schema":{"type":"string","description":"Фильтр товаров для которых нужно обновить карточку в Aliexpress"}},{"name":"favourite","in":"query","description":"Фильтр по избранным товарам, которые клиент пометил избранными","required":false,"schema":{"type":"string","description":"Фильтр по избранным товарам, которые клиент пометил избранными"}},{"name":"status","in":"query","description":"Фильтр по статусу для WmsItem","required":false,"schema":{"type":"string","description":"Фильтр по статусу для WmsItem"}},{"name":"actual","in":"query","description":"Фильтр по показателю актуальности","required":false,"schema":{"type":"string","description":"Фильтр по показателю актуальности"}},{"name":"skuId","in":"query","description":"Фильтр по skuId","required":false,"schema":{"type":"string","description":"Фильтр по skuId"}},{"name":"lastInventoryId","in":"query","description":"Фильтр по инвентаризации для WmsItem","required":false,"schema":{"type":"string","description":"Фильтр по инвентаризации для WmsItem"}},{"name":"cellId","in":"query","description":"Фильтр по ячейке для WmsItem","required":false,"schema":{"type":"string","description":"Фильтр по ячейке для WmsItem"}},{"name":"itemId","in":"query","description":"Фильтр уникальному коду для WmsItem","required":false,"schema":{"type":"string","description":"Фильтр уникальному коду для WmsItem"}},{"name":"warehouseId","in":"query","description":"Фильтр складу для WmsItem","required":false,"schema":{"type":"string","description":"Фильтр складу для WmsItem"}},{"name":"services","in":"query","description":"Список сервисов в которых не создана карточка","required":false,"schema":{"type":"string","description":"Список сервисов в которых не создана карточка"}},{"name":"createdIn","in":"query","description":"Список сервисов в которых создана карточка","required":false,"schema":{"type":"string","description":"Список сервисов в которых создана карточка"}},{"name":"duplicate","in":"query","description":"Является ли карточка дубликатом","required":false,"schema":{"type":"string","description":"Является ли карточка дубликатом"}},{"name":"orderService","in":"query","description":"Позволяет отфильтровать по маркетплейсу заказа, в закупках из заказов","required":false,"schema":{"type":"string","description":"Позволяет отфильтровать по маркетплейсу заказа, в закупках из заказов"}},{"name":"limit","in":"query","description":"Ограничение на количество записей. Максимальное значение - 500","required":false,"schema":{"type":"string","description":"Ограничение на количество записей. Максимальное значение - 500"}},{"name":"page","in":"query","description":"Номер страницы начиная с 1","required":false,"schema":{"type":"string","description":"Номер страницы начиная с 1"}},{"name":"count","in":"query","description":"Возвратить в ответе общее количество записей","required":false,"schema":{"type":"string","description":"Возвратить в ответе общее количество записей"}},{"name":"sortBy","in":"query","description":"Поле сортировки записей. Работает только при получении списка.","required":false,"schema":{"type":"string","description":"Поле сортировки записей. Работает только при получении списка."}},{"name":"ascending","in":"query","description":"Порядок сортировки - по возрастанию?. Работает только при получении списка.","required":false,"schema":{"type":"string","description":"Порядок сортировки - по возрастанию?. Работает только при получении списка."}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FindResponseProduct"}}}}}}},
  "/api/product/createModel":{"post":{"tags":["Товары"],"summary":"Создание модели","description":"Создает модель, цвета и размеры, которые в ней указаны","operationId":"createModel","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductModel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductModel"}}}}}}},
  "/api/product/updateModel":{"post":{"tags":["Товары"],"summary":"Изменить модель","description":"Обновляет информацию о модели, цветах и размерах","operationId":"updateModel","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductModel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProductModel"}}}}}}},
"/api/product/uploadImage":{"post":{"tags":["Товары"],"summary":"Загрузка изображения товара","description":"Загружает изображение и прикрепляет его к товару","operationId":"uploadImage","parameters":[{"name":"productViewId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProductImage"}}}}}}},
"/api/product/updateFavourite":{"post":{"tags":["Товары"],"summary":"Пометить товар избранным","description":"Помечает товар избранным и с помощью фильтра на списке товаров их легко можно выбирать","operationId":"updateFavourite","parameters":[{"name":"id","in":"query","description":"Идентификатор модели","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"favourite","in":"query","description":"Избранный товар или нет","required":true,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK"}}}},
"/api/product/storeProductSet":{"post":{"tags":["Товары"],"summary":"Cохраняет комплекты","description":"Изменяет состав комплектов товаров","operationId":"storeProductSet","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"array","items":{"$ref":"#/components/schemas/ProductSet"}}}}},"required":true},"responses":{"200":{"description":"OK"}}}},
"/api/product/removeView":{"post":{"tags":["Товары"],"summary":"Удалить или восстановить цвет","description":"Помечает цвет и все его размеры удаленными или восстанавливает","operationId":"removeView","parameters":[{"name":"id","in":"query","description":"Идентификатор цвета","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"deleted","in":"query","description":"Удалить или восстановить цвет и все его размеры","required":false,"schema":{"type":"boolean","default":true}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},
"/api/product/removeProducts":{"post":{"tags":["Товары"],"summary":"Удалить или восстановить товары","description":"Помечает товавы удаленными или восстанавливает помеченые ранее удаленными товарыПараметры ответа: true - полное удаление всех товаров, false - остальные случаи","operationId":"removeProducts","parameters":[{"name":"deleted","in":"query","description":"Пометить товары удаленным или восстановить товары","required":true,"schema":{"type":"boolean"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","description":"Идентификаторы товаров","items":{"type":"integer","format":"int64"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},
"/api/product/removeProduct":{"post":{"tags":["Товары"],"summary":"Удалить или восстановить товар","description":"Помечает товар удаленным или восстанавливает помеченый ранее удаленным товарsigned_as_removed - помечен удалённым, restored - восстановлен","operationId":"removeProduct","parameters":[{"name":"id","in":"query","description":"Идентификатор товара","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"deleted","in":"query","description":"Пометить товар удаленным или восстановить товар","required":true,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},
"/api/product/removeProductImage":{"post":{"tags":["Товары"],"summary":"Удалить изображение товара","description":"Удаляет изображение товара","operationId":"removeProductImage","parameters":[{"name":"productViewId","in":"query","description":"Идентификатор цвета","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"productImageId","in":"query","description":"Идентификатор изображения товара","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}}},
"/api/product/removeModel":{"post":{"tags":["Товары"],"summary":"Удалить или восстановить модель","description":"Удаляет или помечает удалённой модель продукта,все цвета и размеры","operationId":"removeModel","parameters":[{"name":"id","in":"query","description":"Идентификатор модели","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"deleted","in":"query","description":"Удалить или восстановить модель","required":false,"schema":{"type":"boolean","default":true}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},
"/api/product/parseModelParams":{"post":{"tags":["Товары"],"summary":"Извлекает параметры с сайта","description":"Возвращает извлеченные параметры с карточки конкурента на маркетплейсе","operationId":"parseModelParams","parameters":[{"name":"service","in":"query","description":"Маркетплейс с которого извлечь параметры","required":true,"schema":{"type":"string","description":"Сервис","enum":["NONE","WILDBERRIES","OZON","YANDEX_MARKET","FAMILIYA","NATIONAL_CATALOG","ALIEXPRESS","OTHER","MOY_SKLAD","SBER_MEGA_MARKET","CISLINK","ONE_C","AVITO","LEROY_MERLIN","DETMIR","KAZAN_EXPRESS"]}},{"name":"externalModelId","in":"query","description":"Номер карточка на маркетплейсе. Для WB: nmId","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProductModel"}}}}}}},
"/api/product/moveViewToModel":{"post":{"tags":["Товары"],"summary":"Перенести цвет на другую модель","description":"Перемещает цвет на другую модель","operationId":"moveViewToModel","parameters":[{"name":"viewId","in":"query","description":"Идентификатор цвета, который перенести","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"article","in":"query","description":"Артикул модели, куда перенести цвет","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"integer","format":"int64"}}}}}}},
"/api/product/mergeProduct":{"post":{"tags":["Товары"],"summary":"Объединить товары","description":"Позволяет объединить дублирующиеся товары, которые импортированы с разных маркетплейсов","operationId":"mergeProduct","parameters":[{"name":"product","in":"query","description":"Идентификатор товара на который перенести данные","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"removedProduct","in":"query","description":"Идентификатор дубликата товара, которыйбудет удален","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}}},
"/api/product/mergeModel":{"post":{"tags":["Товары"],"summary":"Объединить модели","description":"Объединяет модели, которые импортированы с разных маркетплейсов","operationId":"mergeModel","parameters":[{"name":"model","in":"query","description":"Идентификатор модели на которую перенести данные","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"removedModel","in":"query","description":"Идентификатор дубликата модели, которая будет удалена","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}}},
"/api/product/getProductModel":{"post":{"tags":["Товары"],"summary":"Поиск модели по артикулу","description":"Возвращает модель по артикулу для клиента","operationId":"getProductModel","parameters":[{"name":"article","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProductModel"}}}}}}},
"/api/product/fullDeleteView":{"post":{"tags":["Товары"],"summary":"Полностью удалить цвет","description":"Попытка полного удаления цвета и всех его размеров","operationId":"fullDeleteView","parameters":[{"name":"id","in":"query","description":"Идентификатор цвета","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},
"/api/product/fullDeleteProducts":{"post":{"tags":["Товары"],"summary":"Полное удаление товаров","description":"Происходит попытка полного удаления товаров с учетом зависимостей","operationId":"fullDeleteProducts","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"integer","format":"int64"}}}},"required":true},"responses":{"200":{"description":"OK"}}}},
"/api/product/fullDeleteProduct":{"post":{"tags":["Товары"],"summary":"Полное удаление товара","description":"Происходит попытка полного удаления товара с учетом зависимостей","operationId":"fullDeleteProduct","parameters":[{"name":"id","in":"query","description":"Идентификатор товара","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},
"/api/product/fullDeleteModel":{"post":{"tags":["Товары"],"summary":"Полностью удалить модель","description":"Попытка полного удаления модели и всех ее цветов и размером","operationId":"fullDeleteModel","parameters":[{"name":"id","in":"query","description":"Идентификатор Модели","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},
"/api/product/changeOriginalModel":{"post":{"tags":["Товары"],"summary":"Изменяет дубликат карточки на оригинал","description":"Позволяет изменить оригинальную модель на дубликат","operationId":"changeOriginalModel","parameters":[{"name":"modelId","in":"query","description":"Идентификатор модели, которую сделать оригиналом","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}}},
"/api/prices/updatePrices":{"post":{"tags":["Цены"],"summary":"Изменить цены","description":"Обновляет информацию о модели, цветах и размерах","operationId":"updatePrices","parameters":[{"name":"date","in":"query","description":"Дата с которой обновить цены","required":false,"schema":{"type":"string"}},{"name":"sendOzonMinPrice","in":"query","description":"Признак отправки минимальной цены на ОЗОН","required":false,"schema":{"type":"boolean"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","description":"Список товаров, для которых обновить цены","items":{"$ref":"#/components/schemas/Product"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TmsTask"}}}}}}},
"/api/prices/updateFrom":{"post":{"tags":["Цены"],"summary":"Обновить цены c указанного сервиса","description":"Запустить задачу обновления цен для указанного сервиса","operationId":"updateFrom","parameters":[{"name":"service","in":"query","required":true,"schema":{"type":"string","description":"Сервис","enum":["NONE","WILDBERRIES","OZON","YANDEX_MARKET","FAMILIYA","NATIONAL_CATALOG","ALIEXPRESS","OTHER","MOY_SKLAD","SBER_MEGA_MARKET","CISLINK","ONE_C","AVITO","LEROY_MERLIN","DETMIR","KAZAN_EXPRESS"]}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TmsTask"}}}}}}},
"/api/prices/promotions":{"post":{"tags":["Цены"],"summary":"Импорт акций Вайлдбериз/OZON","description":"Запускает задачу по выгрузке файла для участия в акциях с колонками, который позволяют отслеживать эффетивность","operationId":"promotions","requestBody":{"content":{"multipart/form-data":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","description":"Excel файл акций, выгруженный с Wildberries или Ozon","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TmsTask"}}}}}}},
"/api/prices/promotionsReset":{"post":{"tags":["Цены"],"summary":"Возврат акций Вайлдбериз","description":"Запускает задачу по выгрузке файла для возврата цен на те, что были до начала акции","operationId":"promotionsReset","requestBody":{"content":{"multipart/form-data":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","description":"Excel файл акций, выгруженный с Wildberries или Ozon","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TmsTask"}}}}}}},
"/api/prices/parsePriceList":{"post":{"tags":["Цены"],"summary":"Обработать прайс-лист","description":"Позволяет загрузить прайс лист для обработки и импорта цен или остатков","operationId":"parsePriceList","parameters":[{"name":"id","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"type","in":"query","description":"Тип обработчика","required":false,"schema":{"type":"string","description":"Тип обработчика"}},{"name":"protocol","in":"query","description":"Протокол обработчика","required":false,"schema":{"type":"string","description":"Протокол обработчика"}},{"name":"status","in":"query","description":"Статус последнего запуска","required":false,"schema":{"type":"string","description":"Статус последнего запуска"}},{"name":"name","in":"query","description":"Название для интерфейса","required":false,"schema":{"type":"string","description":"Название для интерфейса"}},{"name":"cronExpression","in":"query","description":"CRON выражение с периодичностью запуска, запуск будет не чаще, чем раз в 30 минут, на Выделенном сервере можно установить свою периодичность","required":false,"schema":{"type":"string","description":"CRON выражение с периодичностью запуска, запуск будет не чаще, чем раз в 30 минут, на Выделенном сервере можно установить свою периодичность"}},{"name":"nextFireDate","in":"query","description":"Дата следующего запуска","required":false,"schema":{"type":"string","description":"Дата следующего запуска"}},{"name":"lastProcessedDate","in":"query","description":"Дата последней обработки","required":false,"schema":{"type":"string","description":"Дата последней обработки"}},{"name":"message","in":"query","description":"Код сообщения об ошибке","required":false,"schema":{"type":"string","description":"Код сообщения об ошибке"}},{"name":"messageParams","in":"query","description":"Дополнительные параметры сообщения об ошибке","required":false,"schema":{"type":"string","description":"Дополнительные параметры сообщения об ошибке"}},{"name":"url","in":"query","description":"Адрес файла или host почты","required":false,"schema":{"type":"string","description":"Адрес файла или host почты"}},{"name":"login","in":"query","description":"Логин","required":false,"schema":{"type":"string","description":"Логин"}},{"name":"port","in":"query","description":"Порт для email","required":false,"schema":{"type":"string","description":"Порт для email"}},{"name":"password","in":"query","description":"Пароль","required":false,"schema":{"type":"string","description":"Пароль"}},{"name":"nameFilter","in":"query","description":"Фильтр по названию заголовка письма или листа Excel","required":false,"schema":{"type":"string","description":"Фильтр по названию заголовка письма или листа Excel"}},{"name":"articleName","in":"query","description":"Название колонки с артикулом","required":false,"schema":{"type":"string","description":"Название колонки с артикулом"}},{"name":"stockName","in":"query","description":"Название колонки с остатком","required":false,"schema":{"type":"string","description":"Название колонки с остатком"}},{"name":"articleField","in":"query","description":"Поля для сопоставления с товарами","required":false,"schema":{"type":"string","description":"Поля для сопоставления с товарами"}},{"name":"barcodeName","in":"query","description":"Название колонки или поля со штрих-кодом","required":false,"schema":{"type":"string","description":"Название колонки или поля со штрих-кодом"}},{"name":"purchasePriceName","in":"query","description":"Название колонки или поля с закупочной ценой","required":false,"schema":{"type":"string","description":"Название колонки или поля с закупочной ценой"}},{"name":"priceNames","in":"query","description":"Название колонок с ценами для разных маркетплейсов","required":false,"schema":{"type":"string","description":"Название колонок с ценами для разных маркетплейсов"}},{"name":"retailPriceRate","in":"query","description":"Коэффициент преобразования закупочной цены в розничную","required":false,"schema":{"type":"string","description":"Коэффициент преобразования закупочной цены в розничную"}},{"name":"retailPriceName","in":"query","description":"Название колонки или поля с розничной ценой","required":false,"schema":{"type":"string","description":"Название колонки или поля с розничной ценой"}},{"name":"warehouseId","in":"query","description":"Склад, на котором обновить остатки","required":false,"schema":{"type":"string","description":"Склад, на котором обновить остатки"}},{"name":"secondWarehouseId","in":"query","description":"Второй склад, например КГТ, на котором обновить остатки","required":false,"schema":{"type":"string","description":"Второй склад, например КГТ, на котором обновить остатки"}},{"name":"organizationId","in":"query","description":"Организация","required":false,"schema":{"type":"string","description":"Организация"}},{"name":"clientId","in":"query","description":"Клиент","required":false,"schema":{"type":"string","description":"Клиент"}},{"name":"updateStockInService","in":"query","description":"Обновить остатки на маркетплейсах?","required":false,"schema":{"type":"string","description":"Обновить остатки на маркетплейсах?"}},{"name":"writeOffStocks","in":"query","description":"Списать остатки, которые не встретились в файле","required":false,"schema":{"type":"string","description":"Списать остатки, которые не встретились в файле"}},{"name":"updatePrices","in":"query","description":"Обновить цены на маркетплейсах?","required":false,"schema":{"type":"string","description":"Обновить цены на маркетплейсах?"}},{"name":"lastMessageContentId","in":"query","description":"Идентификатор последнего обработанного сообщения","required":false,"schema":{"type":"string","description":"Идентификатор последнего обработанного сообщения"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","description":"Excel файл прайс листа","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TmsTask"}}}}}}},
"/api/prices/importFile":{"post":{"tags":["Цены"],"summary":"Импорт скидок и цен","description":"Обновляет информацию о скидках, ценах товаров","operationId":"importFile","parameters":[{"name":"sendOzonMinPrice","in":"query","description":"Признак отправки минимальной цены на ОЗОН","required":false,"schema":{"type":"boolean"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","description":"Excel файл с ценами","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TmsTask"}}}}}}},
"/api/prices/exportToWildberries":{"post":{"tags":["Цены"],"summary":"Обновить цены на Wildberries","description":"Запустить задачу, которая отправляет цены и скидки на Wildberries","operationId":"exportToWildberries","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TmsTask"}}}}}}},
"/api/prices/downloadWildberriesPrices":{"post":{"tags":["Цены"],"summary":"Экспорт файла для обновления цен на Вайлдбериз в Excel","description":"Запускает задачу по экспорту Excel файл со списком товаров для обновления цен на Вайлдбериз","operationId":"downloadWildberriesPrices","parameters":[{"name":"query","in":"query","description":"Поисковый запрос. Может содержать штрих-код, часть названия товара, внешние идентификаторы товаров Wildberries или Ozon","required":false,"schema":{"type":"string","description":"Поисковый запрос. Может содержать штрих-код, часть названия товара, внешние идентификаторы товаров Wildberries или Ozon"}},{"name":"article","in":"query","description":"Поиск по названию артикула товара","required":false,"schema":{"type":"string","description":"Поиск по названию артикула товара"}},{"name":"color","in":"query","description":"Поиск по названию цвета товара","required":false,"schema":{"type":"string","description":"Поиск по названию цвета товара"}},{"name":"viewId","in":"query","description":"Поиск по идентификатору цвета","required":false,"schema":{"type":"string","description":"Поиск по идентификатору цвета"}},{"name":"skuViewId","in":"query","description":"Поиск по SKU идентификатору цвета","required":false,"schema":{"type":"string","description":"Поиск по SKU идентификатору цвета"}},{"name":"modelId","in":"query","description":"Поиск по идентификатору модели","required":false,"schema":{"type":"string","description":"Поиск по идентификатору модели"}},{"name":"unprofitable","in":"query","description":"Товары с отрицательной маржинальностью","required":false,"schema":{"type":"string","description":"Товары с отрицательной маржинальностью"}},{"name":"needToBuy","in":"query","description":"Товары, которые нужно показать в списке для заказа","required":false,"schema":{"type":"string","description":"Товары, которые нужно показать в списке для заказа"}},{"name":"organizations","in":"query","description":"Ограничивает список организаций","required":false,"schema":{"type":"string","description":"Ограничивает список организаций"}},{"name":"needUpdatePrice","in":"query","description":"Фильтр по необходимости обновить цену на Wildberries","required":false,"schema":{"type":"string","description":"Фильтр по необходимости обновить цену на Wildberries"}},{"name":"hasImages","in":"query","description":"Наличие или отсутствие картинок у товара","required":false,"schema":{"type":"string","description":"Наличие или отсутствие картинок у товара"}},{"name":"isDuplicate","in":"query","description":"Карточка является дубликатом","required":false,"schema":{"type":"string","description":"Карточка является дубликатом"}},{"name":"hasWildberriesId","in":"query","description":"Наличие карточки товара в Wildberries","required":false,"schema":{"type":"string","description":"Наличие карточки товара в Wildberries"}},{"name":"hasSupplyingQuantity","in":"query","description":"Наличие поставляемого количества по модели FBM","required":false,"schema":{"type":"string","description":"Наличие поставляемого количества по модели FBM"}},{"name":"noWbImages","in":"query","description":"Наличие фото на Wildberries","required":false,"schema":{"type":"string","description":"Наличие фото на Wildberries"}},{"name":"noOzonImages","in":"query","description":"Наличие фото на Ozon","required":false,"schema":{"type":"string","description":"Наличие фото на Ozon"}},{"name":"noYMImages","in":"query","description":"Наличие фото на Яндекс.Маркет","required":false,"schema":{"type":"string","description":"Наличие фото на Яндекс.Маркет"}},{"name":"deleted","in":"query","description":"Показать помеченные удаленными товары","required":false,"schema":{"type":"string","description":"Показать помеченные удаленными товары"}},{"name":"modelDeleted","in":"query","description":"Показать помеченные удаленными модели","required":false,"schema":{"type":"string","description":"Показать помеченные удаленными модели"}},{"name":"viewDeleted","in":"query","description":"Показать помеченные удаленными цвета","required":false,"schema":{"type":"string","description":"Показать помеченные удаленными цвета"}},{"name":"inStock","in":"query","description":"Наличие остатков товаров на маркетплейсе или складе","required":false,"schema":{"type":"string","description":"Наличие остатков товаров на маркетплейсе или складе"}},{"name":"noStock","in":"query","description":"Отсутствие остатков товаров на маркетплейсе и складе","required":false,"schema":{"type":"string","description":"Отсутствие остатков товаров на мар
[...]
