{"openapi":"3.0.1","info":{"title":"Документация по SelSup API","description":"API SelSup — программный интерфейс для работы с сервисом SelSup. Даёт возможность работать со всеми функциями SelSup из вашей системы. Для использования API добавьте новый токен на странице:https://selsup.ru/application/integration/api. Добавленный токен необходимо передавать во всех запросах к API SelSup, в заголовке Authorization. API можно использовать без ограничений на тарифе Выделенный сервер. В случае превышения лимитов на запросы на других тарифах, токен API будет автоматически заблокирован, а дальнейшее использование API будет заблокировано.","contact":{"name":"Support Team","email":"admin@selsup.ru"},"license":{"name":"Apache 2.0","url":"https://selsup.ru/dogovor-offerta/"},"version":"1.0"},"servers":[{"url":"https://selsup.ru/"}],"tags":[{"name":"Аналитика","description":"Методы для работы с аналитическими отчетами: товарный, финансовый по всем маркетплейсам"},{"name":"Биллинг","description":"Методы для работы с билингом для фулфилмента"},{"name":"Контрагенты","description":"Методы для работы с контрагентами товаров"},{"name":"Склад","description":"Управление структурой склада - создание складов, ячеек, стелажей, проходов и тп. Поиск ячеек на складе. Получение складов маркетплейсов"},{"name":"Импорт","description":"Запуск различных импортов данных в SelSup"},{"name":"Заказы поставщикам","description":"Работа с заказами поставщикам, взаиморасчетами с поставщиками"},{"name":"Клиент","description":"Управление данными клиента: сотрудниками, организациями и тп"},{"name":"Экспорт","description":"Выгрузка различных данных из SelSup"},{"name":"Уведомления","description":"Методы для работы с уведомлениями для пользователя"},{"name":"Калькулятор","description":"Методы для расчета цен и прибыли по неопределенному товару"},{"name":"Товары","description":"Методы для работы с товарами и их параметрами. В SelSup используется понятия карточки или модели - ProductModel, верхнего уровня иерархии товаров. На маркетплейсах тоже часто используются карточки товаров. У карточки может быть несколько цветов ProductView для быстрого добавления новых цветов, без заполнения параметров модели. У цвета в свою очередь может быть несколько уже конечных товаров - размеров. У любого уровня могут быть параметры. Часть данных заполняется на уровне модели - категория, бренд и тп, часть у цвета - например картинки."},{"name":"Заказы со склада поставщика (FBS)","description":"Импорт заказов и различные методы для сборки, комплектации, отмены заказов со своего склада"},{"name":"Реклама","description":"Методы для управления рекламой на маркетплейсах"},{"name":"Финансы","description":"Методы для работы с финансовой информацией"},{"name":"Маркировка","description":"Методы для работы с маркировкой товаров через Честный знак"},{"name":"Акции","description":"Методы для контроля акций и товаров в них"},{"name":"Репрайсер","description":"Методы для работы с репрайсером"},{"name":"Поставки товаров","description":"Поставки объединяют несколько заказов, которые отгружаются. Методы для создания заказов и поставок на склад маркетплейса. Автоматизация различных процессов поставки"},{"name":"Знания о товарах","description":"Методы управления категориями, параметрами, значениями параметров, брендами и производителями"},{"name":"Медиа","description":"Загрузка различных медиа файлов"},{"name":"Задачи","description":"Многие методы не сразу возвращают данные, а запускают асинхронную задачу. В этом случае возвращается специальный объект TmsTask - по которому можно отслеживать статус выполнения задачи и получать результат в виде файла. В данном разделе представлены методы для работы с такими задачами"},{"name":"Задачи","description":"Методы для управления задачами"},{"name":"Фотосессии","description":"Методы для работы с фотосессиями товаров для массовой загрузки фотографий"},{"name":"Цены","description":"Методы для управления ценами на товар и обновление их на маркетплейсе"},{"name":"Заказы","description":"Методы для создания заказов на маркетплейс, FBS и приемки на склад"},{"name":"Скачивание файлов","description":"Позволяет скачать сформированный файл или загруженные изображения. Для скачивания передается ?path=... Значение path содержится в label_path, path и тп"},{"name":"Сертификаты качества","description":"Методы для работы с сертификатами качества, декларациями, отказными письмами на товар"},{"name":"Тестирование гипотез","description":"Методы для работы с гипотезами и анализа результатов"},{"name":"Интеграция с сайтом","description":"Позволяет добавлять интеграции с сайтом"},{"name":"Настройки","description":"Методы для управления различными настройками"},{"name":"Отправка сообщений","description":"Методы по отправки сообщений на электронные почтовые ящики"},{"name":"Хранение товара на складе (WMS)","description":"Методы управления остатками товаров на складе, уникальными кодами на каждый товар"},{"name":"Регистрация","description":"Работа с новыми пользователями в SelSup"},{"name":"Фиды","description":"Различные экспорты данных во внешние сервисы"},{"name":"Доставка","description":"Методы для работы с интеграциями со службами доставки"},{"name":"Документы","description":"Работа с документами Честного знака"},{"name":"Дропшипинг","description":"Методы для работы по модели дропщипинга, когда остатки товаров и цены загружаются с внешних источников партнеров клиента"},{"name":"Покупатели","description":"Методы для работы с данными покупателей DBS или заказов с сайта"}],"paths":{"/api/client/refreshCacheTariff":{"put":{"tags":["Клиент"],"summary":"Сбрасывает кэш клиента","description":"Метод сбрасывает кэш клиента","operationId":"refreshCacheTariff","responses":{"200":{"description":"OK"}}}},"/api/wms/updateStocksByFile":{"post":{"tags":["Хранение товара на складе (WMS)"],"summary":"Импорт остатков файлом","description":"Обновляет информацию об остатках товаров на складе. Запрос передается в формате multipart/form-data. В поле file - содержимое файла. В поле warehouseId - идентификатор склада","operationId":"updateStocksByFile","parameters":[{"name":"warehouseId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"byCell","in":"query","required":false,"schema":{"type":"boolean"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TmsTask"}}}}}}},"/api/wms/updateProductStocks":{"post":{"tags":["Хранение товара на складе (WMS)"],"summary":"Обновить остатки в товарах","description":"В товарах кэшируются остатки товаров со всех складов. Метод позволяет обновить этот кэш","operationId":"updateProductStocks","responses":{"200":{"description":"OK"}}}},"/api/wms/restoreSku":{"post":{"tags":["Хранение товара на складе (WMS)"],"summary":"Восстановить оригинал SKU","description":"Позволяет восстановить идентификатор SKU у товара","operationId":"restoreSku","parameters":[{"name":"productId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"boolean"}}}}}}},"/api/wms/resetCalculatedStocks":{"post":{"tags":["Хранение товара на складе (WMS)"],"summary":"Возвращает остатки по категории с нашего склада","operationId":"resetCalculatedStocks","requestBody":{"content":{"application/json":{"schema":{"uniqueItems":true,"type":"array","items":{"type":"integer","format":"int64"}}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/api/wms/removeReserveItem":{"post":{"tags":["Хранение товара на складе (WMS)"],"summary":"Снятие резерва с уникального кода","description":"Убирает резерв с товара","operationId":"removeReserveItem","parameters":[{"name":"itemId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}}},"/api/wms/removeItem":{"post":{"tags":["Хранение товара на складе (WMS)"],"summary":"Списание уникального кода","description":"Помечает товар списанным с остатков","operationId":"removeItem","parameters":[{"name":"itemId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}}},"/api/wms/putSkuToCell":{"post":{"tags":["Хранение товара на складе (WMS)"],"summary":"Разместить SKU в ячейку","description":"Позволяет переместить все остатки товаров в ячейку на складе","operationId":"putSkuToCell","parameters":[{"name":"cellId","in":"query","description":"Идентификатор ячейки на складе. Можно найти через метод findCell","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"skuId","in":"query","description":"SKU товара. Можно получить через метод findStock","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}}},"/api/wms/putItemToCell":{"post":{"tags":["Хранение товара на складе (WMS)"],"summary":"Разместить остаток в ячейке","description":"Позволяет положить остаток в ячейку на складе. Вызывается в заданиях по размещению товаров","operationId":"putItemToCell","parameters":[{"name":"cellId","in":"query","description":"Идентификатор ячейки на складе. Можно найти через метод findCell","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"itemId","in":"query","description":"Идентификатор остатка. Можно получить через метод findItem","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}}},"/api/wms/mergeProductsStocksByFile":{"post":{"tags":["Хранение товара на складе (WMS)"],"summary":"Объединение товаров по остаткам","description":"Импортирует файл для объединения остатков товаров","operationId":"mergeProductsStocksByFile","requestBody":{"content":{"multipart/form-data":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TmsTask"}}}}}}},"/api/wms/mergeProductStock":{"post":{"tags":["Хранение товара на складе (WMS)"],"summary":"Объединить остатки","description":"Позволяет объединить остатки товара с другим SKU. В этом случае остатки будут отдавать общие и при заказе любого товара будут списываться на маркетплейсах","operationId":"mergeProductStock","parameters":[{"name":"productId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"skuId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}}},"/api/wms/lostItem":{"post":{"tags":["Хранение товара на складе (WMS)"],"summary":"Пометить остаток потерянным","description":"Позволяет пометить остаток потерянным,если ее не удалось найти. Операция вызывается при инвентаризации","operationId":"lostItem","parameters":[{"name":"wmsItemId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"inventoryId","in":"query","required":false,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WmsItem"}}}}}}},"/api/wms/linkProductToItem":{"post":{"tags":["Хранение товара на складе (WMS)"],"summary":"Связывает остаток с товаром","description":"Существует две схемы получения уникальных единиц хранения товара: 1)Через поступление товара на склад Order с type = INCOME - в этом случае уникальный код уже изначально привязан к карточке товара и данный метод не нужен. 2)Когда уникальные коды распечатываются на складе и не привязаны к товару. В этом случае при размещении товаров на складе оператор должен связать уникальный код с карточкой товара по штрих-коду. Он пикает сначала уникальный код, а потом штрих-код и вызывается этот метод","operationId":"linkProductToItem","parameters":[{"name":"barcode","in":"query","description":"Штрих-код карточки товара Product.barcode","required":true,"schema":{"type":"string"}},{"name":"itemId","in":"query","description":"Идентификатор остатка","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"override","in":"query","description":"Перезаписать связь","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WmsItem"}}}}}}},"/api/wms/introduceWmsItemsByOrder":{"post":{"tags":["Хранение товара на складе (WMS)"],"summary":"Оприходует уникальные коды для заказа","description":"Позволяет оприходывать уникальные коды маркировки, привязанные к товару","operationId":"introduceWmsItemsByOrder","parameters":[{"name":"orderId","in":"query","description":"Идентификатор заказа","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TmsTask"}}}}}}},"/api/wms/getReserveAndStockByOrder":{"post":{"tags":["Хранение товара на складе (WMS)"],"summary":"Получение количества резервов под заказ","description":"Возвращает количество резервов под заказ","operationId":"getReserveAndStockByOrder","parameters":[{"name":"orderId","in":"query","description":"Заказ для которого получаем резервы","required":false,"schema":{"type":"string","description":"Заказ для которого получаем резервы"}},{"name":"warehouseId","in":"query","description":"Склад для которого отдаются остатки","required":false,"schema":{"type":"string","description":"Склад для которого отдаются остатки"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"string","description":"SKU товаров, для которых отдать остатки"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ReserveAndStockByOrder"}}}}}}}},"/api/wms/createWmsItems":{"post":{"tags":["Хранение товара на складе (WMS)"],"summary":"Создание уникальных кодов","description":"Позволяет создавать уникальные коды маркировки, не привязанные к товару и которые можно потом привязать к товару на складе","operationId":"createWmsItems","parameters":[{"name":"count","in":"query","description":"Количество уникальных кодов маркировки, которые нужно получить","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/WmsItem"}}}}}}}},"/api/wms/createWmsItemsByOrder":{"post":{"tags":["Хранение товара на складе (WMS)"],"summary":"Создание уникальных кодов для заказа","description":"Позволяет создавать уникальные коды маркировки, привязанные к товару","operationId":"createWmsItemsByOrder","parameters":[{"name":"orderId","in":"query","description":"Идентификатор заказа","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TmsTask"}}}}}}},"/api/wms/createInventory":{"post":{"tags":["Хранение товара на складе (WMS)"],"summary":"Старт инвентаризации товаров","description":"Начинает новую инвентаризацию товаров для определенного склада. Одновременно может быть открыта только одна инвентаризация","operationId":"createInventory","parameters":[{"name":"warehouseId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Inventory"}}}}}}},"/api/wms/closeInventory":{"post":{"tags":["Хранение товара на складе (WMS)"],"summary":"Закрыть инвентаризацию","description":"Закрывает инвентаризацию товаров","operationId":"closeInventory","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK"}}}},"/api/wms/changeStock":{"post":{"tags":["Хранение товара на складе (WMS)"],"summary":"Изменить остатки товара","description":"Позволяет для SKU изменить остатки на складе. Работает для всех схем хранения, как суникальными кодами, так и без них","operationId":"changeStock","parameters":[{"name":"skuId","in":"query","description":"Идентификатор SKU товара","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"stock","in":"query","description":"Остаток","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"warehouseId","in":"query","description":"Идентификатор склада","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"updateInService","in":"query","description":"Обновлять остаток на маркетплейсах","required":false,"schema":{"type":"boolean"}},{"name":"withReservedStock","in":"query","description":"Учитывать резерв остатка в SKU","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK"}}}},"/api/wms/changeStockByServiceWarehouse":{"post":{"tags":["Хранение товара на складе (WMS)"],"summary":"Изменить остатки товара по складу сервиса","description":"Позволяет для SKU изменить остатки на складах, которые связаны с определенным складом внешнего сервиса, например 1С. По полю serviceProductId производится поиск товаров и обновление остатков на складе, который так же определяется по serviceWarehouseId и связью со складом SelSup","operationId":"changeStockByServiceWarehouse","parameters":[{"name":"service","in":"query","description":"Сервис от которого обновляются остатки","required":true,"schema":{"type":"string","description":"Сервис","enum":["NONE","WILDBERRIES","OZON","YANDEX_MARKET","FAMILIYA","NATIONAL_CATALOG","ALIEXPRESS","OTHER","MOY_SKLAD","SBER_MEGA_MARKET","CISLINK","ONE_C","AVITO","LEROY_MERLIN","DETMIR","KAZAN_EXPRESS","EVOTOR","WEBASYST","AMAZON"]}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ChangeStock"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ChangeResult"}}}}}}}},"/api/wms/addItemInventory":{"post":{"tags":["Хранение товара на складе (WMS)"],"summary":"Инвентаризация товаров","description":"Помечает остаток прошедний инвентаризацию, с указанием количества, ячейки хранения и номером SKU, если товар новый","operationId":"addItemInventory","parameters":[{"name":"cellBarcode","in":"query","description":"Штрих-код ячейки на складе","required":true,"schema":{"type":"string"}},{"name":"itemId","in":"query","description":"Идентификатор остатка","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"inventoryId","in":"query","description":"Идентификатор инвентаризации","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"quantity","in":"query","description":"Количество товара в ячейке - смотрится резерв + остаток","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"skuId","in":"query","description":"Идентификатор SKU, если товара небыло в ячейке","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/WmsItem"}}}}}}}},"/api/wms/addItemHistoryByJob":{"post":{"tags":["Хранение товара на складе (WMS)"],"summary":"Выполненная работа в историю","description":"Позволяет добавить выполненную работу в историю товаров","operationId":"addItemHistoryByJob","parameters":[{"name":"itemId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"jobId","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK"}}}},"/api/warehouse/updateWarehouse":{"post":{"tags":["Склад"],"summary":"Изменить склад клиента","description":"Редактирует склад клиента","operationId":"updateWarehouse","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Warehouse"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Warehouse"}}}}}}},"/api/warehouse/removeWarehouse":{"post":{"tags":["Склад"],"summary":"Удалить склад","description":"Помечает склад удаленным","operationId":"removeWarehouse","parameters":[{"name":"warehouseId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"restore","in":"query","required":true,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/warehouse/removeShelf":{"post":{"tags":["Склад"],"summary":"Удаление полки на складе","description":"Удаление полки со всеми ячейками","operationId":"removeShelf","parameters":[{"name":"shelfId","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK"}}}},"/api/warehouse/removeServiceWarehouse":{"post":{"tags":["Склад"],"summary":"Удалить привязку склада к складу маркетплейса","operationId":"removeServiceWarehouse","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceWarehouse"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/api/warehouse/removeRack":{"post":{"tags":["Склад"],"summary":"Удаление стеллажа на складе","description":"Удаление стеллажа с полками и ячейками","operationId":"removeRack","parameters":[{"name":"rackId","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK"}}}},"/api/warehouse/removePassage":{"post":{"tags":["Склад"],"summary":"Удаление прохода на складе","description":"Удаление прохода вместе со стеллажами, полками и ячейками","operationId":"removePassage","parameters":[{"name":"passageId","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK"}}}},"/api/warehouse/removeCell":{"post":{"tags":["Склад"],"summary":"Удаление ячейки на складе","description":"Удаляет ячейку на складе. Возникает исключение, если к ячейке привязаны товары и удаление невозможно","operationId":"removeCell","parameters":[{"name":"cellId","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK"}}}},"/api/warehouse/getCellsByFilter":{"post":{"tags":["Склад"],"summary":"Получить ячейки по фильтру","description":"Позволяет получить список ячеек по id склада, прохода, стеллажа или полки. Фильтр принимает один параметр","operationId":"getCellsByFilter","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CellFilter"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Cell"}}}}}}}},"/api/warehouse/createWarehouse":{"post":{"tags":["Склад"],"summary":"Создать склад","description":"Создает новый склад клиента","operationId":"createWarehouse","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Warehouse"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Warehouse"}}}}}}},"/api/warehouse/createServiceWarehouse":{"post":{"tags":["Склад"],"summary":"Добавить связь склада SelSup к складу маркетплейса","description":"Позволяет установить связь склада SelSup со складом маркетплейса для передачи остатков на этот склад. Обязательные поля: name, externalId, warehouseId, service, organizationId. Связь со складом проставляется через warehouse/getWarehouseOfService - метод, который непосредственно получает склады с маркетплейсов. Внимание особенность: для WB и Ozon обязательно все склады должны быть связаны со складом маркетплейса или со специальным складом SelSup с флажком не передавать остатки, иначе остатки на этом складе будут обнулены","operationId":"createServiceWarehouse","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceWarehouse"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ServiceWarehouse"}}}}}}},"/api/warehouse/createOrUpdateShelf":{"post":{"tags":["Склад"],"summary":"Создание или обновление полки","description":"Позволяет создать или обновить полку на складе","operationId":"createOrUpdateShelf","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Shelf"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Shelf"}}}}}}},"/api/warehouse/createOrUpdateRack":{"post":{"tags":["Склад"],"summary":"Создание или обновление стеллажа","description":"Позволяет создать или обновить стеллаж на складе","operationId":"createOrUpdateRack","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Rack"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Rack"}}}}}}},"/api/warehouse/createOrUpdatePassage":{"post":{"tags":["Склад"],"summary":"Создание или обновление прохода","description":"Позволяет создать или обновить проход на складе","operationId":"createOrUpdatePassage","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Passage"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Passage"}}}}}}},"/api/warehouse/createOrUpdateCell":{"post":{"tags":["Склад"],"summary":"Создание или обновление ячейки","description":"Позволяет создать или обновить ячейку на складе","operationId":"createOrUpdateCell","parameters":[{"name":"passageId","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"rackId","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"shelfId","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Cell"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Cell"}}}}}}},"/api/userTasks/updateTask":{"post":{"tags":["Задачи"],"summary":"Обновление задачи","description":"Обновляет задачу","operationId":"updateTask","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserTask"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/api/userTasks/deleteTask":{"post":{"tags":["Задачи"],"summary":"Удаление задачи","description":"Удаляет задачу","operationId":"deleteTask","parameters":[{"name":"taskId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}}},"/api/userTasks/createTask":{"post":{"tags":["Задачи"],"summary":"Создание задачи","description":"Создает новую задачу","operationId":"createTask","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserTask"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserTask"}}}}}}},"/api/userTasks/completeTask":{"post":{"tags":["Задачи"],"summary":"Закончить задачу","description":"Завершает задачу","operationId":"completeTask","parameters":[{"name":"taskId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}}},"/api/task/runTask":{"post":{"tags":["Задачи"],"summary":"Запустить задачу","description":"Запускает поставленную в очередь задачу. Метод доступен только суперпользователям","operationId":"runTask","parameters":[{"name":"taskId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"boolean"}}}}}}},"/api/task/cancelTask":{"post":{"tags":["Задачи"],"summary":"Отменить задачу","description":"Отменить выполнение задачи","operationId":"cancelTask","parameters":[{"name":"taskId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TmsTask"}}}}}}},"/api/supply/updateSupply":{"post":{"tags":["Поставки товаров"],"summary":"Изменить поставку","description":"Обновляет поставку","operationId":"updateSupply","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Supply"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Supply"}}}}}}},"/api/supply/updateOrderStatus":{"post":{"tags":["Поставки товаров"],"summary":"Изменение статуса заказа","description":"Изменяет статус заказа по идентификатору","operationId":"updateOrderStatus","parameters":[{"name":"orderId","in":"query","description":"Идентификатор заказа","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"status","in":"query","description":"Новый статус заказа","required":true,"schema":{"type":"string","description":"Статус заказа","enum":["CREATED","REVOKING","REVOKED","ORDER_CREATED","CARDS_CREATED","BOX_BARCODES","IMAGES_UPLOADED","INVOICE_UPLOADED","READY_TO_SUPPLY","SUPPLIED","FINISHED","COLLECTED","SEND","DELIVERY","REFUND","COLLECTING","PACKING","PAYMENT_REQUIRED","CANCELED","CONTROVERSIAL","OVERDUE","READY_FOR_PICKUP","WAITING_SUPPLY","PICK_UP_REFUND","REFUND_RECEIVED"]}}],"responses":{"200":{"description":"OK"}}}},"/api/supply/updateJobWork":{"post":{"tags":["Поставки товаров"],"summary":"Изменить выполненную работу","description":"Изменяет информацю о выполненной работе","operationId":"updateJobWork","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/JobWork"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/api/supply/updateAcceptedProducts":{"post":{"tags":["Поставки товаров"],"summary":"Обновление списка принятых Wildberries товаров","description":"Из Excel файла выбирает информацию о принятых товарах и обновляет информацию о расхождениях приемки","operationId":"updateAcceptedProducts","parameters":[{"name":"orderId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TmsTask"}}}}}}},"/api/supply/storeJobWork":{"post":{"tags":["Поставки товаров"],"summary":"Изменить выполненные работы","description":"Изменяет информацию о выполненных работах","operationId":"storeJobWork","parameters":[{"name":"orderId","in":"query","description":"Идентификатор заказа","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"jobId","in":"query","description":"Идентификатор выполненной работы","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","description":"Список выполненных работ","items":{"$ref":"#/components/schemas/JobWork"}}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/api/supply/setSupplyForOrder":{"post":{"tags":["Поставки товаров"],"summary":"Проставляет поставку для заказа","description":"Присваивает поставку для заказа","operationId":"setSupplyForOrder","parameters":[{"name":"orderId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"supplyId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/supply/sendDocument":{"post":{"tags":["Поставки товаров"],"summary":"Отправляет документы для ввода в оборот","description":"Отправляет подписанные документы для ввода в оборот кодов маркировки Честного знака","operationId":"sendDocument","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CrptDocument"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/supply/removeOrderFromSupply":{"post":{"tags":["Поставки товаров"],"summary":"Удаление заказа из поставки","description":"Открепляет заказ от поставки на маркетплейс","operationId":"removeOrderFromSupply","parameters":[{"name":"orderId","in":"query","description":"Идентификатор заказа","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}}},"/api/supply/removeJobWorkById":{"post":{"tags":["Поставки товаров"],"summary":"Удаление выполненных работ по штрих-коду","description":"Удаляет выполненные работы по упаковке товаров по штрих-коду товара","operationId":"removeJobWorkById","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}}},"/api/supply/removeJobWorkByBarcode":{"post":{"tags":["Поставки товаров"],"summary":"Удаление выполненных работ по штрих-коду","description":"Удаляет выполненные работы по упаковке товаров по штрих-коду товара","operationId":"removeJobWorkByBarcode","parameters":[{"name":"barcode","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/api/supply/parseBoxBarcodesFile":{"post":{"tags":["Поставки товаров"],"summary":"Извлекает штрих-коды коробов из Excel файла скачанного с Wildberries","description":"Обрабатывает файл и выдает список ШК коробов из него","operationId":"parseBoxBarcodesFile","requestBody":{"content":{"multipart/form-data":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Box"}}}}}}}},"/api/supply/getProducts":{"post":{"tags":["Поставки товаров"],"summary":"Получение списка товаров","description":"Получает список товаров по идентификаторам","operationId":"getProducts","parameters":[{"name":"type","in":"query","description":"Тип заказа, влияет на цены, которые отдаются","required":false,"schema":{"type":"string","enum":["FBM","FBS","INCOME","RETAIL","WHOLESALE","FBO","MOVEMENT","WRITE_OFF"]}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"integer","format":"int64"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/OrderProduct"}}}}}}}},"/api/supply/getProductsByIncome":{"post":{"tags":["Поставки товаров"],"summary":"Получение списка товаров","description":"Получает список товаров по идентификаторам","operationId":"getProductsByIncome","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/OrderProduct"}}}}}}}},"/api/supply/getProductsByFile":{"post":{"tags":["Поставки товаров"],"summary":"Получение списка товаров из файла","description":"Получает список товаров по Excel файлу Wildberries","operationId":"getProductsByFile","parameters":[{"name":"type","in":"query","description":"Тип заказа для проставления цен","required":false,"schema":{"type":"string","description":"Тип заказа для проставления цен"}},{"name":"organizationId","in":"query","description":"Организация для заказа","required":false,"schema":{"type":"string","description":"Организация для заказа"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProductsResult"}}}}}}},"/api/supply/getProductsByBarcode":{"post":{"tags":["Поставки товаров"],"summary":"Получение товаров по штрих-коду","description":"Позволяет получить список товаров для добавления в поставку по штрих-кодам","operationId":"getProductsByBarcode","requestBody":{"content":{"application/json":{"schema":{"type":"array","description":"Список штрих-кодов","items":{"type":"string"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/OrderProduct"}}}}}}}},"/api/supply/getOrCreateBox":{"post":{"tags":["Поставки товаров"],"summary":"Создание нового короба","description":"Создает новый короб по штрих-коду короба и штрих-коду товара","operationId":"getOrCreateBox","parameters":[{"name":"barcode","in":"query","description":"Штрих-код короба","required":true,"schema":{"type":"string"}},{"name":"productBarcode","in":"query","description":"Штрих-код товара","required":true,"schema":{"type":"string"}},{"name":"orderId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Box"}}}}}}},"/api/supply/getFeedDocumentsToSign":{"post":{"tags":["Поставки товаров"],"summary":"Получение документов для подписи карточек","description":"Получает документы для подписания карточек в национальном каталоге Честного знака","operationId":"getFeedDocumentsToSign","parameters":[{"name":"organizationId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"integer","format":"int64"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/FeedProductDocument"}}}}}}}},"/api/supply/getCodesFromSuz":{"post":{"tags":["Поставки товаров"],"summary":"Получение кодов маркировки из заказа СУЗ","description":"Проверяет статус заказа СУЗ и получает маркировку этого заказа","operationId":"getCodesFromSuz","parameters":[{"name":"suzOrderId","in":"query","description":"Идентификатор заказа","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuzOrderSign"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/api/supply/fixBoxBarcode":{"post":{"tags":["Поставки товаров"],"summary":"Исправление короба для товара","description":"Позволяет из задания оператора изменить короб для товара","operationId":"fixBoxBarcode","parameters":[{"name":"productBarcode","in":"query","required":true,"schema":{"type":"string"}},{"name":"boxBarcode","in":"query","required":true,"schema":{"type":"string"}},{"name":"orderId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"integer","format":"int32"}}}}}}},"/api/supply/fetchJobWork":{"post":{"tags":["Поставки товаров"],"summary":"Получение списка выполненных работ по упаковке товаров","operationId":"fetchJobWork","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/JobWorkFilter"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/JobWork"}}}}}}}},"/api/supply/feedProductSign":{"post":{"tags":["Поставки товаров"],"summary":"Отправляет подписанные документы национального каталога","description":"Отправляет подписанные документы национального каталога","operationId":"feedProductSign","parameters":[{"name":"organizationId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ProductFeedSign"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/FeedProductDocument"}}}}}}}},"/api/supply/createSupply":{"post":{"tags":["Поставки товаров"],"summary":"Создание новой поставки","description":"Создает новую поставку на определенную дату и добавляетуказанный заказ в нее","operationId":"createSupply","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Supply"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Supply"}}}}}}},"/api/supply/createQrBox":{"post":{"tags":["Поставки товаров"],"summary":"Создание QR короба","description":"Создает новый QR короб","operationId":"createQrBox","parameters":[{"name":"lastNumber","in":"query","description":"Последний номер короба. Генерируется автоматически, если не указан","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"quantity","in":"query","description":"Количество шт в коробе","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"orderId","in":"query","description":"Номер заказа","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Box"}}}}}}},"/api/supply/createDriver":{"post":{"tags":["Поставки товаров"],"summary":"Добавление водителя","description":"Создает нового водителя, который везет заказ по FBM","operationId":"createDriver","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Driver"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Driver"}}}}}}},"/api/supply/createCodes":{"post":{"tags":["Поставки товаров"],"summary":"Получение кодов маркировки","description":"Проверяет наличие кодов маркировки на все товары из заказа и при отсутствии создает заказ на получение кодов маркировки в СУЗ","operationId":"createCodes","parameters":[{"name":"orderId","in":"query","description":"Идентификатор заказа","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SuzOrderDocument"}}}}}}}},"/api/supply/closeSupply":{"post":{"tags":["Поставки товаров"],"summary":"Закрыть поставку","description":"Закрывает поставку товар на маркетплейс,переводит все заказы в статус завершен или закрыт","operationId":"closeSupply","parameters":[{"name":"supplyId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"status","in":"query","required":true,"schema":{"type":"string","description":"Статус поставки","enum":["CREATED","READY_TO_SUPPLY","SUPPLIED","FINISHED"]}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/supply/addPack":{"post":{"tags":["Поставки товаров"],"summary":"Добавить товар в короб при упаковке","description":"Добавляет новый товар в короб при упаковке товаров на маркетплейс","operationId":"addPack","parameters":[{"name":"jobId","in":"query","description":"Идентификатор работы","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"boxId","in":"query","description":"Идентификатор короба","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"barcode","in":"query","description":"Штрих-код карточки товара","required":true,"schema":{"type":"string"}},{"name":"addToOrder","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/JobWork"}}}}}}},"/api/supply/addOrderProductFromFile":{"post":{"tags":["Поставки товаров"],"summary":"Получение списка товаров из файла","description":"Получает список товаров по Excel файлу Wildberries и сразу добавить их к заказу","operationId":"addOrderProductFromFile","parameters":[{"name":"orderId","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"organizationId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"orderType","in":"query","required":false,"schema":{"type":"string","enum":["FBM","FBS","INCOME","RETAIL","WHOLESALE","FBO","MOVEMENT","WRITE_OFF"]}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TmsTask"}}}}}}},"/api/stat/updateSalePlanReport":{"post":{"tags":["Аналитика"],"summary":"Сохранить план продаж","description":"Метод сохраняет план продаж","operationId":"updateSalePlanReport","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PlanSales"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PlanSales"}}}}}}}},"/api/stat/updatePurchasePriceTask":{"get":{"tags":["Аналитика"],"summary":"Обновление закупочных цен в аналитике","description":"Метод ставит в очередь задачу по обновлению закупочных цен и прочих расходов в аналитике по данным из товаров","operationId":"updatePurchasePricesTask","parameters":[{"name":"period","in":"query","description":"Период агрегации","required":false,"schema":{"type":"string","description":"Период агрегации"}},{"name":"dateFrom","in":"query","description":"Дата начала отчета","required":false,"schema":{"type":"string","description":"Дата начала отчета"}},{"name":"dateTo","in":"query","description":"Дата окончания отчета","required":false,"schema":{"type":"string","description":"Дата окончания отчета"}},{"name":"services","in":"query","description":"Список маркетплейсов для которых отдать данные","required":false,"schema":{"type":"string","description":"Список маркетплейсов для которых отдать данные"}},{"name":"categories","in":"query","description":"Фильтр категорий для которых отдать данные","required":false,"schema":{"type":"string","description":"Фильтр категорий для которых отдать данные"}},{"name":"brands","in":"query","description":"Фильтр брендов для которых отдать данные","required":false,"schema":{"type":"string","description":"Фильтр брендов для которых отдать данные"}},{"name":"clientOrganizationId","in":"query","description":"Идентификатор организации, для которой отдать данные","required":false,"schema":{"type":"string","description":"Идентификатор организации, для которой отдать данные"}},{"name":"organizations","in":"query","description":"Идентификаторы организаций клиента","required":false,"schema":{"type":"string","description":"Идентификаторы организаций клиента"}},{"name":"ids","in":"query","description":"Список идентификаторов","required":false,"schema":{"type":"string","description":"Список идентификаторов"}},{"name":"timeZone","in":"query","description":"Часовой пояс клиента по UTC","required":false,"schema":{"type":"string","description":"Часовой пояс клиента по UTC"}},{"name":"previousDateFrom","in":"query","description":"Дата начала периода для сравнения","required":false,"schema":{"type":"string","description":"Дата начала периода для сравнения"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TmsTask"}}}}}},"post":{"tags":["Аналитика"],"summary":"Обновление закупочных цен в аналитике","description":"Метод ставит в очередь задачу по обновлению закупочных цен и прочих расходов в аналитике по данным из товаров","operationId":"updatePurchasePriceTask","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserStatRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TmsTask"}}}}},"deprecated":true}},"/api/stat/saveSalePlanReport":{"post":{"tags":["Аналитика"],"summary":"Сохранить план продаж","description":"Метод сохраняет план продаж","operationId":"saveSalePlanReport","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PlanSales"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PlanSales"}}}}}}}},"/api/stat/reDownloadAnalytics":{"get":{"tags":["Аналитика"],"summary":"Задача на перезакачку аналитики","description":"Создает задачу на перезакачку аналитике по маркетплейсам.","operationId":"reDownloadAnalytic","parameters":[{"name":"period","in":"query","description":"Период агрегации","required":false,"schema":{"type":"string","description":"Период агрегации"}},{"name":"dateFrom","in":"query","description":"Дата начала отчета","required":false,"schema":{"type":"string","description":"Дата начала отчета"}},{"name":"dateTo","in":"query","description":"Дата окончания отчета","required":false,"schema":{"type":"string","description":"Дата окончания отчета"}},{"name":"services","in":"query","description":"Список маркетплейсов для которых отдать данные","required":false,"schema":{"type":"string","description":"Список маркетплейсов для которых отдать данные"}},{"name":"categories","in":"query","description":"Фильтр категорий для которых отдать данные","required":false,"schema":{"type":"string","description":"Фильтр категорий для которых отдать данные"}},{"name":"brands","in":"query","description":"Фильтр брендов для которых отдать данные","required":false,"schema":{"type":"string","description":"Фильтр брендов для которых отдать данные"}},{"name":"clientOrganizationId","in":"query","description":"Идентификатор организации, для которой отдать данные","required":false,"schema":{"type":"string","description":"Идентификатор организации, для которой отдать данные"}},{"name":"organizations","in":"query","description":"Идентификаторы организаций клиента","required":false,"schema":{"type":"string","description":"Идентификаторы организаций клиента"}},{"name":"ids","in":"query","description":"Список идентификаторов","required":false,"schema":{"type":"string","description":"Список идентификаторов"}},{"name":"timeZone","in":"query","description":"Часовой пояс клиента по UTC","required":false,"schema":{"type":"string","description":"Часовой пояс клиента по UTC"}},{"name":"previousDateFrom","in":"query","description":"Дата начала периода для сравнения","required":false,"schema":{"type":"string","description":"Дата начала периода для сравнения"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TmsTask"}}}}}},"post":{"tags":["Аналитика"],"summary":"Задача на перезакачку аналитики","description":"Создает задачу на перезакачку аналитике по маркетплейсам.","operationId":"reDownloadAnalytics","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserStatRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TmsTask"}}}}},"deprecated":true}},"/api/stat/importWildberriesRealizationFile":{"post":{"tags":["Аналитика"],"summary":"Импорт стоимости хранения","description":"Метод принимает файл в формате multipart/form-data и создает задачу по импорту данных из файлов WB и OZON и SberMarket по реализации","operationId":"importWildberriesRealizationFile","parameters":[{"name":"productAnalyticField","in":"query","description":"Агрегировать данные по сущности","required":false,"schema":{"type":"string","description":"Агрегировать данные по сущности"}},{"name":"query","in":"query","description":"Поисковый запрос для фильтрации аналитики","required":false,"schema":{"type":"string","description":"Поисковый запрос для фильтрации аналитики"}},{"name":"withDuplicate","in":"query","description":"Отдавать аналитику по дубликатам товаров","required":false,"schema":{"type":"string","description":"Отдавать аналитику по дубликатам товаров"}},{"name":"limit","in":"query","description":"Количество записей в ответе","required":false,"schema":{"type":"string","description":"Количество записей в ответе"}},{"name":"page","in":"query","description":"Страница для навигации по страницам, начиная с 1","required":false,"schema":{"type":"string","description":"Страница для навигации по страницам, начиная с 1"}},{"name":"sortBy","in":"query","description":"Поле сортировки","required":false,"schema":{"type":"string","description":"Поле сортировки"}},{"name":"ascending","in":"query","description":"Сортировать по возрастанию по полю sortBy","required":false,"schema":{"type":"string","description":"Сортировать по возрастанию по полю sortBy"}},{"name":"id","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"isMarketPlaceStructure","in":"query","description":"Идентификатор, получать данные только по маркетплейсу или по всем.","required":false,"schema":{"type":"string","description":"Идентификатор, получать данные только по маркетплейсу или по всем."}},{"name":"isDashboard","in":"query","description":"Идентификатор, запрос с дашборда или нет.","required":false,"schema":{"type":"string","description":"Идентификатор, запрос с дашборда или нет."}},{"name":"analyticsField","in":"query","description":"Агрегировать данные по model/product/view","required":false,"schema":{"type":"string","description":"Агрегировать данные по model/product/view"}},{"name":"planDayCount","in":"query","description":"Кол-во дней для отчетов","required":false,"schema":{"type":"string","description":"Кол-во дней для отчетов"}},{"name":"groupByView","in":"query","description":"Сгруппировать по цвету","required":false,"schema":{"type":"string","description":"Сгруппировать по цвету"}},{"name":"warehouses","in":"query","description":"Список идентификаторов складов","required":false,"schema":{"type":"string","description":"Список идентификаторов складов"}},{"name":"regions","in":"query","description":"Список регионов","required":false,"schema":{"type":"string","description":"Список регионов"}},{"name":"group","in":"query","description":"Сгруппировать данные","required":false,"schema":{"type":"string","description":"Сгруппировать данные"}},{"name":"calculationByOrders","in":"query","description":"Делать расчет по заказанному количеству","required":false,"schema":{"type":"string","description":"Делать расчет по заказанному количеству"}},{"name":"sourceReport","in":"query","description":"Операция по которой выводить данные","required":false,"schema":{"type":"string","description":"Операция по которой выводить данные"}},{"name":"skipDayWithoutStocks","in":"query","description":"Пропускать дни без остатков","required":false,"schema":{"type":"string","description":"Пропускать дни без остатков"}},{"name":"isSaleStructure","in":"query","description":"Идентификатор, что нужно получить структуру по продажам","required":false,"schema":{"type":"string","description":"Идентификатор, что нужно получить структуру по продажам"}},{"name":"isAveragePerOneUnit","in":"query","description":"Идентификатор, получить среднее за 1 единицу","required":false,"schema":{"type":"string","description":"Идентификатор, получить среднее за 1 единицу"}},{"name":"updateDate","in":"query","description":"Обновлять даты","required":false,"schema":{"type":"string","description":"Обновлять даты"}},{"name":"period","in":"query","description":"Период агрегации","required":false,"schema":{"type":"string","description":"Период агрегации"}},{"name":"dateFrom","in":"query","description":"Дата начала отчета","required":false,"schema":{"type":"string","description":"Дата начала отчета"}},{"name":"dateTo","in":"query","description":"Дата окончания отчета","required":false,"schema":{"type":"string","description":"Дата окончания отчета"}},{"name":"services","in":"query","description":"Список маркетплейсов для которых отдать данные","required":false,"schema":{"type":"string","description":"Список маркетплейсов для которых отдать данные"}},{"name":"categories","in":"query","description":"Фильтр категорий для которых отдать данные","required":false,"schema":{"type":"string","description":"Фильтр категорий для которых отдать данные"}},{"name":"brands","in":"query","description":"Фильтр брендов для которых отдать данные","required":false,"schema":{"type":"string","description":"Фильтр брендов для которых отдать данные"}},{"name":"clientOrganizationId","in":"query","description":"Идентификатор организации, для которой отдать данные","required":false,"schema":{"type":"string","description":"Идентификатор организации, для которой отдать данные"}},{"name":"organizations","in":"query","description":"Идентификаторы организаций клиента","required":false,"schema":{"type":"string","description":"Идентификаторы организаций клиента"}},{"name":"ids","in":"query","description":"Список идентификаторов","required":false,"schema":{"type":"string","description":"Список идентификаторов"}},{"name":"timeZone","in":"query","description":"Часовой пояс клиента по UTC","required":false,"schema":{"type":"string","description":"Часовой пояс клиента по UTC"}},{"name":"previousDateFrom","in":"query","description":"Дата начала периода для сравнения","required":false,"schema":{"type":"string","description":"Дата начала периода для сравнения"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TmsTask"}}}}}}},"/api/stat/importProfitReportFromExcelFile":{"post":{"tags":["Аналитика"],"summary":"Импорт Excel профит репорт","description":"Создает задачу импорта Excel файла с данными реализации по МП.","operationId":"importProfitReportFromExcelFile","requestBody":{"content":{"multipart/form-data":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TmsTask"}}}}}}},"/api/stat/importPlanSalesFromExcelFile":{"post":{"tags":["Аналитика"],"summary":"Импорт Excel плана продаж","description":"Создает задачу импорта Excel файла с понедельным планом продаж","operationId":"importPlanSalesFromExcelFile","requestBody":{"content":{"multipart/form-data":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TmsTask"}}}}}}},"/api/stat/importFboOrders":{"post":{"tags":["Аналитика"],"summary":"Импорт заказов FBO","description":"Метод добавляет задачу в очередь на импорт заказов FBO","operationId":"importFboOrders","parameters":[{"name":"dateFrom","in":"query","description":"Дата начала отчета","required":false,"schema":{"type":"string","description":"Дата начала отчета"}},{"name":"dateTo","in":"query","description":"Дата окончания отчета","required":false,"schema":{"type":"string","description":"Дата окончания отчета"}},{"name":"organizationId","in":"query","description":"Идентификатор организации","required":false,"schema":{"type":"string","description":"Идентификатор организации"}},{"name":"service","in":"query","description":"Маркетплейс","required":false,"schema":{"type":"string","description":"Маркетплейс"}},{"name":"updateDate","in":"query","description":"Обновлять даты","required":false,"schema":{"type":"string","description":"Обновлять даты"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TmsTask"}}}}}}},"/api/stat/importBankTransactionFromFile":{"post":{"tags":["Аналитика"],"summary":"Импорт выписки из банка","description":"Метод принимает файл в формате multipart/form-data из банковской выписки операции с МП. Выписка из банка выгружается в формате 1C.","operationId":"importBankTransactionFromFile","parameters":[{"name":"clientOrganizationId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"saveAll","in":"query","required":false,"schema":{"type":"boolean"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TmsTask"}}}}}}},"/api/stat/getTaxes":{"get":{"tags":["Аналитика"],"summary":"Налоги","description":"Метод возвращает данные о предполагаемом налоге с продаж.","operationId":"getTaxe","parameters":[{"name":"period","in":"query","description":"Период агрегации","required":false,"schema":{"type":"string","description":"Период агрегации"}},{"name":"dateFrom","in":"query","description":"Дата начала отчета","required":false,"schema":{"type":"string","description":"Дата начала отчета"}},{"name":"dateTo","in":"query","description":"Дата окончания отчета","required":false,"schema":{"type":"string","description":"Дата окончания отчета"}},{"name":"services","in":"query","description":"Список маркетплейсов для которых отдать данные","required":false,"schema":{"type":"string","description":"Список маркетплейсов для которых отдать данные"}},{"name":"categories","in":"query","description":"Фильтр категорий для которых отдать данные","required":false,"schema":{"type":"string","description":"Фильтр категорий для которых отдать данные"}},{"name":"brands","in":"query","description":"Фильтр брендов для которых отдать данные","required":false,"schema":{"type":"string","description":"Фильтр брендов для которых отдать данные"}},{"name":"clientOrganizationId","in":"query","description":"Идентификатор организации, для которой отдать данные","required":false,"schema":{"type":"string","description":"Идентификатор организации, для которой отдать данные"}},{"name":"organizations","in":"query","description":"Идентификаторы организаций клиента","required":false,"schema":{"type":"string","description":"Идентификаторы организаций клиента"}},{"name":"ids","in":"query","description":"Список идентификаторов","required":false,"schema":{"type":"string","description":"Список идентификаторов"}},{"name":"timeZone","in":"query","description":"Часовой пояс клиента по UTC","required":false,"schema":{"type":"string","description":"Часовой пояс клиента по UTC"}},{"name":"previousDateFrom","in":"query","description":"Дата начала периода для сравнения","required":false,"schema":{"type":"string","description":"Дата начала периода для сравнения"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Taxes"}}}}}}},"post":{"tags":["Аналитика"],"summary":"Налоги","description":"Метод возвращает данные о предполагаемом налоге с продаж.","operationId":"getTaxes","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserStatRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Taxes"}}}}}},"deprecated":true}},"/api/stat/getServiceStructure":{"get":{"tags":["Аналитика"],"summary":"Структура услуг","description":"Метод получает данные по структуре услуг.Обязательно нужно передать в запросе dateTo, dateFromНе обязательные поля clientOrganizationId, serviceIds","operationId":"getServicesStructure","parameters":[{"name":"productAnalyticField","in":"query","description":"Агрегировать данные по сущности","required":false,"schema":{"type":"string","description":"Агрегировать данные по сущности"}},{"name":"query","in":"query","description":"Поисковый запрос для фильтрации аналитики","required":false,"schema":{"type":"string","description":"Поисковый запрос для фильтрации аналитики"}},{"name":"withDuplicate","in":"query","description":"Отдавать аналитику по дубликатам товаров","required":false,"schema":{"type":"string","description":"Отдавать аналитику по дубликатам товаров"}},{"name":"limit","in":"query","description":"Количество записей в ответе","required":false,"schema":{"type":"string","description":"Количество записей в ответе"}},{"name":"page","in":"query","description":"Страница для навигации по страницам, начиная с 1","required":false,"schema":{"type":"string","description":"Страница для навигации по страницам, начиная с 1"}},{"name":"sortBy","in":"query","description":"Поле сортировки","required":false,"schema":{"type":"string","description":"Поле сортировки"}},{"name":"ascending","in":"query","description":"Сортировать по возрастанию по полю sortBy","required":false,"schema":{"type":"string","description":"Сортировать по возрастанию по полю sortBy"}},{"name":"id","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"isMarketPlaceStructure","in":"query","description":"Идентификатор, получать данные только по маркетплейсу или по всем.","required":false,"schema":{"type":"string","description":"Идентификатор, получать данные только по маркетплейсу или по всем."}},{"name":"isDashboard","in":"query","description":"Идентификатор, запрос с дашборда или нет.","required":false,"schema":{"type":"string","description":"Идентификатор, запрос с дашборда или нет."}},{"name":"analyticsField","in":"query","description":"Агрегировать данные по model/product/view","required":false,"schema":{"type":"string","description":"Агрегировать данные по model/product/view"}},{"name":"planDayCount","in":"query","description":"Кол-во дней для отчетов","required":false,"schema":{"type":"string","description":"Кол-во дней для отчетов"}},{"name":"groupByView","in":"query","description":"Сгруппировать по цвету","required":false,"schema":{"type":"string","description":"Сгруппировать по цвету"}},{"name":"warehouses","in":"query","description":"Список идентификаторов складов","required":false,"schema":{"type":"string","description":"Список идентификаторов складов"}},{"name":"regions","in":"query","description":"Список регионов","required":false,"schema":{"type":"string","description":"Список регионов"}},{"name":"group","in":"query","description":"Сгруппировать данные","required":false,"schema":{"type":"string","description":"Сгруппировать данные"}},{"name":"calculationByOrders","in":"query","description":"Делать расчет по заказанному количеству","required":false,"schema":{"type":"string","description":"Делать расчет по заказанному количеству"}},{"name":"sourceReport","in":"query","description":"Операция по которой выводить данные","required":false,"schema":{"type":"string","description":"Операция по которой выводить данные"}},{"name":"skipDayWithoutStocks","in":"query","description":"Пропускать дни без остатков","required":false,"schema":{"type":"string","description":"Пропускать дни без остатков"}},{"name":"isSaleStructure","in":"query","description":"Идентификатор, что нужно получить структуру по продажам","required":false,"schema":{"type":"string","description":"Идентификатор, что нужно получить структуру по продажам"}},{"name":"isAveragePerOneUnit","in":"query","description":"Идентификатор, получить среднее за 1 единицу","required":false,"schema":{"type":"string","description":"Идентификатор, получить среднее за 1 единицу"}},{"name":"updateDate","in":"query","description":"Обновлять даты","required":false,"schema":{"type":"string","description":"Обновлять даты"}},{"name":"period","in":"query","description":"Период агрегации","required":false,"schema":{"type":"string","description":"Период агрегации"}},{"name":"dateFrom","in":"query","description":"Дата начала отчета","required":false,"schema":{"type":"string","description":"Дата начала отчета"}},{"name":"dateTo","in":"query","description":"Дата окончания отчета","required":false,"schema":{"type":"string","description":"Дата окончания отчета"}},{"name":"services","in":"query","description":"Список маркетплейсов для которых отдать данные","required":false,"schema":{"type":"string","description":"Список маркетплейсов для которых отдать данные"}},{"name":"categories","in":"query","description":"Фильтр категорий для которых отдать данные","required":false,"schema":{"type":"string","description":"Фильтр категорий для которых отдать данные"}},{"name":"brands","in":"query","description":"Фильтр брендов для которых отдать данные","required":false,"schema":{"type":"string","description":"Фильтр брендов для которых отдать данные"}},{"name":"clientOrganizationId","in":"query","description":"Идентификатор организации, для которой отдать данные","required":false,"schema":{"type":"string","description":"Идентификатор организации, для которой отдать данные"}},{"name":"organizations","in":"query","description":"Идентификаторы организаций клиента","required":false,"schema":{"type":"string","description":"Идентификаторы организаций клиента"}},{"name":"ids","in":"query","description":"Список идентификаторов","required":false,"schema":{"type":"string","description":"Список идентификаторов"}},{"name":"timeZone","in":"query","description":"Часовой пояс клиента по UTC","required":false,"schema":{"type":"string","description":"Часовой пояс клиента по UTC"}},{"name":"previousDateFrom","in":"query","description":"Дата начала периода для сравнения","required":false,"schema":{"type":"string","description":"Дата начала периода для сравнения"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/RowStructureForFinanceTable"}}}}}}},"post":{"tags":["Аналитика"],"summary":"Структура услуг","description":"Метод получает данные по структуре услуг.Обязательно нужно передать в запросе dateTo, dateFromНе обязательные поля clientOrganizationId, serviceIds","operationId":"getServiceStructure","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AnalyticsRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/RowStructureForFinanceTable"}}}}}},"deprecated":true}},"/api/stat/getSalesReportForGraphic":{"get":{"tags":["Аналитика"],"summary":"График по продажам","description":"Метод возвращает данные о продажах и возвратах и группирует их по сервисам.Обязательно передать dateFrom, dateToне обязательные поля clientOrganizationId, services","operationId":"getSalesReportsForGraphic","parameters":[{"name":"period","in":"query","description":"Период агрегации","required":false,"schema":{"type":"string","description":"Период агрегации"}},{"name":"dateFrom","in":"query","description":"Дата начала отчета","required":false,"schema":{"type":"string","description":"Дата начала отчета"}},{"name":"dateTo","in":"query","description":"Дата окончания отчета","required":false,"schema":{"type":"string","description":"Дата окончания отчета"}},{"name":"services","in":"query","description":"Список маркетплейсов для которых отдать данные","required":false,"schema":{"type":"string","description":"Список маркетплейсов для которых отдать данные"}},{"name":"categories","in":"query","description":"Фильтр категорий для которых отдать данные","required":false,"schema":{"type":"string","description":"Фильтр категорий для которых отдать данные"}},{"name":"brands","in":"query","description":"Фильтр брендов для которых отдать данные","required":false,"schema":{"type":"string","description":"Фильтр брендов для которых отдать данные"}},{"name":"clientOrganizationId","in":"query","description":"Идентификатор организации, для которой отдать данные","required":false,"schema":{"type":"string","description":"Идентификатор организации, для которой отдать данные"}},{"name":"organizations","in":"query","description":"Идентификаторы организаций клиента","required":false,"schema":{"type":"string","description":"Идентификаторы организаций клиента"}},{"name":"ids","in":"query","description":"Список идентификаторов","required":false,"schema":{"type":"string","description":"Список идентификаторов"}},{"name":"timeZone","in":"query","description":"Часовой пояс клиента по UTC","required":false,"schema":{"type":"string","description":"Часовой пояс клиента по UTC"}},{"name":"previousDateFrom","in":"query","description":"Дата начала периода для сравнения","required":false,"schema":{"type":"string","description":"Дата начала периода для сравнения"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SalesReportForGraphic"}}}}}}},"post":{"tags":["Аналитика"],"summary":"График по продажам","description":"Метод возвращает данные о продажах и возвратах и группирует их по сервисам.Обязательно передать dateFrom, dateToне обязательные поля clientOrganizationId, services","operationId":"getSalesReportForGraphic","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserStatRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SalesReportForGraphic"}}}}}},"deprecated":true}},"/api/stat/getProfitStructure":{"get":{"tags":["Аналитика"],"summary":"Структура выручки","description":"Метод получает данные по структуре дохода.Обязательно нужно передать в запросе dateTo, dateFrom, periodНе обязательные поля clientOrganizationId, serviceIds","operationId":"getProfitStructures","parameters":[{"name":"productAnalyticField","in":"query","description":"Агрегировать данные по сущности","required":false,"schema":{"type":"string","description":"Агрегировать данные по сущности"}},{"name":"query","in":"query","description":"Поисковый запрос для фильтрации аналитики","required":false,"schema":{"type":"string","description":"Поисковый запрос для фильтрации аналитики"}},{"name":"withDuplicate","in":"query","description":"Отдавать аналитику по дубликатам товаров","required":false,"schema":{"type":"string","description":"Отдавать аналитику по дубликатам товаров"}},{"name":"limit","in":"query","description":"Количество записей в ответе","required":false,"schema":{"type":"string","description":"Количество записей в ответе"}},{"name":"page","in":"query","description":"Страница для навигации по страницам, начиная с 1","required":false,"schema":{"type":"string","description":"Страница для навигации по страницам, начиная с 1"}},{"name":"sortBy","in":"query","description":"Поле сортировки","required":false,"schema":{"type":"string","description":"Поле сортировки"}},{"name":"ascending","in":"query","description":"Сортировать по возрастанию по полю sortBy","required":false,"schema":{"type":"string","description":"Сортировать по возрастанию по полю sortBy"}},{"name":"id","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"isMarketPlaceStructure","in":"query","description":"Идентификатор, получать данные только по маркетплейсу или по всем.","required":false,"schema":{"type":"string","description":"Идентификатор, получать данные только по маркетплейсу или по всем."}},{"name":"isDashboard","in":"query","description":"Идентификатор, запрос с дашборда или нет.","required":false,"schema":{"type":"string","description":"Идентификатор, запрос с дашборда или нет."}},{"name":"analyticsField","in":"query","description":"Агрегировать данные по model/product/view","required":false,"schema":{"type":"string","description":"Агрегировать данные по model/product/view"}},{"name":"planDayCount","in":"query","description":"Кол-во дней для отчетов","required":false,"schema":{"type":"string","description":"Кол-во дней для отчетов"}},{"name":"groupByView","in":"query","description":"Сгруппировать по цвету","required":false,"schema":{"type":"string","description":"Сгруппировать по цвету"}},{"name":"warehouses","in":"query","description":"Список идентификаторов складов","required":false,"schema":{"type":"string","description":"Список идентификаторов складов"}},{"name":"regions","in":"query","description":"Список регионов","required":false,"schema":{"type":"string","description":"Список регионов"}},{"name":"group","in":"query","description":"Сгруппировать данные","required":false,"schema":{"type":"string","description":"Сгруппировать данные"}},{"name":"calculationByOrders","in":"query","description":"Делать расчет по заказанному количеству","required":false,"schema":{"type":"string","description":"Делать расчет по заказанному количеству"}},{"name":"sourceReport","in":"query","description":"Операция по которой выводить данные","required":false,"schema":{"type":"string","description":"Операция по которой выводить данные"}},{"name":"skipDayWithoutStocks","in":"query","description":"Пропускать дни без остатков","required":false,"schema":{"type":"string","description":"Пропускать дни без остатков"}},{"name":"isSaleStructure","in":"query","description":"Идентификатор, что нужно получить структуру по продажам","required":false,"schema":{"type":"string","description":"Идентификатор, что нужно получить структуру по продажам"}},{"name":"isAveragePerOneUnit","in":"query","description":"Идентификатор, получить среднее за 1 единицу","required":false,"schema":{"type":"string","description":"Идентификатор, получить среднее за 1 единицу"}},{"name":"updateDate","in":"query","description":"Обновлять даты","required":false,"schema":{"type":"string","description":"Обновлять даты"}},{"name":"period","in":"query","description":"Период агрегации","required":false,"schema":{"type":"string","description":"Период агрегации"}},{"name":"dateFrom","in":"query","description":"Дата начала отчета","required":false,"schema":{"type":"string","description":"Дата начала отчета"}},{"name":"dateTo","in":"query","description":"Дата окончания отчета","required":false,"schema":{"type":"string","description":"Дата окончания отчета"}},{"name":"services","in":"query","description":"Список маркетплейсов для которых отдать данные","required":false,"schema":{"type":"string","description":"Список маркетплейсов для которых отдать данные"}},{"name":"categories","in":"query","description":"Фильтр категорий для которых отдать данные","required":false,"schema":{"type":"string","description":"Фильтр категорий для которых отдать данные"}},{"name":"brands","in":"query","description":"Фильтр брендов для которых отдать данные","required":false,"schema":{"type":"string","description":"Фильтр брендов для которых отдать данные"}},{"name":"clientOrganizationId","in":"query","description":"Идентификатор организации, для которой отдать данные","required":false,"schema":{"type":"string","description":"Идентификатор организации, для которой отдать данные"}},{"name":"organizations","in":"query","description":"Идентификаторы организаций клиента","required":false,"schema":{"type":"string","description":"Идентификаторы организаций клиента"}},{"name":"ids","in":"query","description":"Список идентификаторов","required":false,"schema":{"type":"string","description":"Список идентификаторов"}},{"name":"timeZone","in":"query","description":"Часовой пояс клиента по UTC","required":false,"schema":{"type":"string","description":"Часовой пояс клиента по UTC"}},{"name":"previousDateFrom","in":"query","description":"Дата начала периода для сравнения","required":false,"schema":{"type":"string","description":"Дата начала периода для сравнения"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GetFinanceStructureResult"}}}}}},"post":{"tags":["Аналитика"],"summary":"Структура выручки","description":"Метод получает данные по структуре дохода.Обязательно нужно передать в запросе dateTo, dateFrom, periodНе обязательные поля clientOrganizationId, serviceIds","operationId":"getProfitStructure","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AnalyticsRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GetFinanceStructureResult"}}}}},"deprecated":true}},"/api/stat/getProductBalanceResult":{"get":{"tags":["Аналитика"],"summary":"Отчет по остаткам","description":"Метод получает данные по остаткам на текущий момент и подсчитывает на какой период еще хватит товара. Обязательно нужно передать в запросе dateTo, dateFromНе обязательные поля clientOrganizationId, serviceIds","operationId":"getProductBalanceResults","parameters":[{"name":"productAnalyticField","in":"query","description":"Агрегировать данные по сущности","required":false,"schema":{"type":"string","description":"Агрегировать данные по сущности"}},{"name":"query","in":"query","description":"Поисковый запрос для фильтрации аналитики","required":false,"schema":{"type":"string","description":"Поисковый запрос для фильтрации аналитики"}},{"name":"withDuplicate","in":"query","description":"Отдавать аналитику по дубликатам товаров","required":false,"schema":{"type":"string","description":"Отдавать аналитику по дубликатам товаров"}},{"name":"limit","in":"query","description":"Количество записей в ответе","required":false,"schema":{"type":"string","description":"Количество записей в ответе"}},{"name":"page","in":"query","description":"Страница для навигации по страницам, начиная с 1","required":false,"schema":{"type":"string","description":"Страница для навигации по страницам, начиная с 1"}},{"name":"sortBy","in":"query","description":"Поле сортировки","required":false,"schema":{"type":"string","description":"Поле сортировки"}},{"name":"ascending","in":"query","description":"Сортировать по возрастанию по полю sortBy","required":false,"schema":{"type":"string","description":"Сортировать по возрастанию по полю sortBy"}},{"name":"id","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"isMarketPlaceStructure","in":"query","description":"Идентификатор, получать данные только по маркетплейсу или по всем.","required":false,"schema":{"type":"string","description":"Идентификатор, получать данные только по маркетплейсу или по всем."}},{"name":"isDashboard","in":"query","description":"Идентификатор, запрос с дашборда или нет.","required":false,"schema":{"type":"string","description":"Идентификатор, запрос с дашборда или нет."}},{"name":"analyticsField","in":"query","description":"Агрегировать данные по model/product/view","required":false,"schema":{"type":"string","description":"Агрегировать данные по model/product/view"}},{"name":"planDayCount","in":"query","description":"Кол-во дней для отчетов","required":false,"schema":{"type":"string","description":"Кол-во дней для отчетов"}},{"name":"groupByView","in":"query","description":"Сгруппировать по цвету","required":false,"schema":{"type":"string","description":"Сгруппировать по цвету"}},{"name":"warehouses","in":"query","description":"Список идентификаторов складов","required":false,"schema":{"type":"string","description":"Список идентификаторов складов"}},{"name":"regions","in":"query","description":"Список регионов","required":false,"schema":{"type":"string","description":"Список регионов"}},{"name":"group","in":"query","description":"Сгруппировать данные","required":false,"schema":{"type":"string","description":"Сгруппировать данные"}},{"name":"calculationByOrders","in":"query","description":"Делать расчет по заказанному количеству","required":false,"schema":{"type":"string","description":"Делать расчет по заказанному количеству"}},{"name":"sourceReport","in":"query","description":"Операция по которой выводить данные","required":false,"schema":{"type":"string","description":"Операция по которой выводить данные"}},{"name":"skipDayWithoutStocks","in":"query","description":"Пропускать дни без остатков","required":false,"schema":{"type":"string","description":"Пропускать дни без остатков"}},{"name":"isSaleStructure","in":"query","description":"Идентификатор, что нужно получить структуру по продажам","required":false,"schema":{"type":"string","description":"Идентификатор, что нужно получить структуру по продажам"}},{"name":"isAveragePerOneUnit","in":"query","description":"Идентификатор, получить среднее за 1 единицу","required":false,"schema":{"type":"string","description":"Идентификатор, получить среднее за 1 единицу"}},{"name":"updateDate","in":"query","description":"Обновлять даты","required":false,"schema":{"type":"string","description":"Обновлять даты"}},{"name":"period","in":"query","description":"Период агрегации","required":false,"schema":{"type":"string","description":"Период агрегации"}},{"name":"dateFrom","in":"query","description":"Дата начала отчета","required":false,"schema":{"type":"string","description":"Дата начала отчета"}},{"name":"dateTo","in":"query","description":"Дата окончания отчета","required":false,"schema":{"type":"string","description":"Дата окончания отчета"}},{"name":"services","in":"query","description":"Список маркетплейсов для которых отдать данные","required":false,"schema":{"type":"string","description":"Список маркетплейсов для которых отдать данные"}},{"name":"categories","in":"query","description":"Фильтр категорий для которых отдать данные","required":false,"schema":{"type":"string","description":"Фильтр категорий для которых отдать данные"}},{"name":"brands","in":"query","description":"Фильтр брендов для которых отдать данные","required":false,"schema":{"type":"string","description":"Фильтр брендов для которых отдать данные"}},{"name":"clientOrganizationId","in":"query","description":"Идентификатор организации, для которой отдать данные","required":false,"schema":{"type":"string","description":"Идентификатор организации, для которой отдать данные"}},{"name":"organizations","in":"query","description":"Идентификаторы организаций клиента","required":false,"schema":{"type":"string","description":"Идентификаторы организаций клиента"}},{"name":"ids","in":"query","description":"Список идентификаторов","required":false,"schema":{"type":"string","description":"Список идентификаторов"}},{"name":"timeZone","in":"query","description":"Часовой пояс клиента по UTC","required":false,"schema":{"type":"string","description":"Часовой пояс клиента по UTC"}},{"name":"previousDateFrom","in":"query","description":"Дата начала периода для сравнения","required":false,"schema":{"type":"string","description":"Дата начала периода для сравнения"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GetProductBalanceResult"}}}}}},"post":{"tags":["Аналитика"],"summary":"Отчет по остаткам","description":"Метод получает данные по остаткам на текущий момент и подсчитывает на какой период еще хватит товара. Обязательно нужно передать в запросе dateTo, dateFromНе обязательные поля clientOrganizationId, serviceIds","operationId":"getProductBalanceResult","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AnalyticsRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GetProductBalanceResult"}}}}},"deprecated":true}},"/api/stat/getPenaltyStructure":{"get":{"tags":["Аналитика"],"summary":"Структура расходов","description":"Метод получает данные по структуре штрафов.Обязательно нужно передать в запросе dateTo, dateFrom, periodНе обязательные поля clientOrganizationId, serviceIds","operationId":"getPenaltyStructures","parameters":[{"name":"productAnalyticField","in":"query","description":"Агрегировать данные по сущности","required":false,"schema":{"type":"string","description":"Агрегировать данные по сущности"}},{"name":"query","in":"query","description":"Поисковый запрос для фильтрации аналитики","required":false,"schema":{"type":"string","description":"Поисковый запрос для фильтрации аналитики"}},{"name":"withDuplicate","in":"query","description":"Отдавать аналитику по дубликатам товаров","required":false,"schema":{"type":"string","description":"Отдавать аналитику по дубликатам товаров"}},{"name":"limit","in":"query","description":"Количество записей в ответе","required":false,"schema":{"type":"string","description":"Количество записей в ответе"}},{"name":"page","in":"query","description":"Страница для навигации по страницам, начиная с 1","required":false,"schema":{"type":"string","description":"Страница для навигации по страницам, начиная с 1"}},{"name":"sortBy","in":"query","description":"Поле сортировки","required":false,"schema":{"type":"string","description":"Поле сортировки"}},{"name":"ascending","in":"query","description":"Сортировать по возрастанию по полю sortBy","required":false,"schema":{"type":"string","description":"Сортировать по возрастанию по полю sortBy"}},{"name":"id","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"isMarketPlaceStructure","in":"query","description":"Идентификатор, получать данные только по маркетплейсу или по всем.","required":false,"schema":{"type":"string","description":"Идентификатор, получать данные только по маркетплейсу или по всем."}},{"name":"isDashboard","in":"query","description":"Идентификатор, запрос с дашборда или нет.","required":false,"schema":{"type":"string","description":"Идентификатор, запрос с дашборда или нет."}},{"name":"analyticsField","in":"query","description":"Агрегировать данные по model/product/view","required":false,"schema":{"type":"string","description":"Агрегировать данные по model/product/view"}},{"name":"planDayCount","in":"query","description":"Кол-во дней для отчетов","required":false,"schema":{"type":"string","description":"Кол-во дней для отчетов"}},{"name":"groupByView","in":"query","description":"Сгруппировать по цвету","required":false,"schema":{"type":"string","description":"Сгруппировать по цвету"}},{"name":"warehouses","in":"query","description":"Список идентификаторов складов","required":false,"schema":{"type":"string","description":"Список идентификаторов складов"}},{"name":"regions","in":"query","description":"Список регионов","required":false,"schema":{"type":"string","description":"Список регионов"}},{"name":"group","in":"query","description":"Сгруппировать данные","required":false,"schema":{"type":"string","description":"Сгруппировать данные"}},{"name":"calculationByOrders","in":"query","description":"Делать расчет по заказанному количеству","required":false,"schema":{"type":"string","description":"Делать расчет по заказанному количеству"}},{"name":"sourceReport","in":"query","description":"Операция по которой выводить данные","required":false,"schema":{"type":"string","description":"Операция по которой выводить данные"}},{"name":"skipDayWithoutStocks","in":"query","description":"Пропускать дни без остатков","required":false,"schema":{"type":"string","description":"Пропускать дни без остатков"}},{"name":"isSaleStructure","in":"query","description":"Идентификатор, что нужно получить структуру по продажам","required":false,"schema":{"type":"string","description":"Идентификатор, что нужно получить структуру по продажам"}},{"name":"isAveragePerOneUnit","in":"query","description":"Идентификатор, получить среднее за 1 единицу","required":false,"schema":{"type":"string","description":"Идентификатор, получить среднее за 1 единицу"}},{"name":"updateDate","in":"query","description":"Обновлять даты","required":false,"schema":{"type":"string","description":"Обновлять даты"}},{"name":"period","in":"query","description":"Период агрегации","required":false,"schema":{"type":"string","description":"Период агрегации"}},{"name":"dateFrom","in":"query","description":"Дата начала отчета","required":false,"schema":{"type":"string","description":"Дата начала отчета"}},{"name":"dateTo","in":"query","description":"Дата окончания отчета","required":false,"schema":{"type":"string","description":"Дата окончания отчета"}},{"name":"services","in":"query","description":"Список маркетплейсов для которых отдать данные","required":false,"schema":{"type":"string","description":"Список маркетплейсов для которых отдать данные"}},{"name":"categories","in":"query","description":"Фильтр категорий для которых отдать данные","required":false,"schema":{"type":"string","description":"Фильтр категорий для которых отдать данные"}},{"name":"brands","in":"query","description":"Фильтр брендов для которых отдать данные","required":false,"schema":{"type":"string","description":"Фильтр брендов для которых отдать данные"}},{"name":"clientOrganizationId","in":"query","description":"Идентификатор организации, для которой отдать данные","required":false,"schema":{"type":"string","description":"Идентификатор организации, для которой отдать данные"}},{"name":"organizations","in":"query","description":"Идентификаторы организаций клиента","required":false,"schema":{"type":"string","description":"Идентификаторы организаций клиента"}},{"name":"ids","in":"query","description":"Список идентификаторов","required":false,"schema":{"type":"string","description":"Список идентификаторов"}},{"name":"timeZone","in":"query","description":"Часовой пояс клиента по UTC","required":false,"schema":{"type":"string","description":"Часовой пояс клиента по UTC"}},{"name":"previousDateFrom","in":"query","description":"Дата начала периода для сравнения","required":false,"schema":{"type":"string","description":"Дата начала периода для сравнения"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/RowStructureForFinanceTable"}}}}}}},"post":{"tags":["Аналитика"],"summary":"Структура расходов","description":"Метод получает данные по структуре штрафов.Обязательно нужно передать в запросе dateTo, dateFrom, periodНе обязательные поля clientOrganizationId, serviceIds","operationId":"getPenaltyStructure","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AnalyticsRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/RowStructureForFinanceTable"}}}}}},"deprecated":true}},"/api/stat/getOrderReport":{"get":{"tags":["Аналитика"],"summary":"Отчет по по заказам","description":"Метод получает данные по заказам с группировкой по заказу и товару (для одного заказа с 3 разными товарами в отчете будет 3 строки).","operationId":"getOrdersReport","parameters":[{"name":"actual","in":"query","description":"Отображать только актуальные заказы - не закрытые","required":false,"schema":{"type":"string","description":"Отображать только актуальные заказы - не закрытые"}},{"name":"type","in":"query","description":"Тип заказа","required":false,"schema":{"type":"string","description":"Тип заказа"}},{"name":"organizations","in":"query","required":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"integer","format":"int64"}}},{"name":"query","in":"query","description":"Поисковый запрос для фильтрации заказов по номеру или названию","required":false,"schema":{"type":"string","description":"Поисковый запрос для фильтрации заказов по номеру или названию"}},{"name":"userId","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"service","in":"query","description":"Фильтр заказа по маркетплейсу","required":false,"schema":{"type":"string","description":"Фильтр заказа по маркетплейсу"}},{"name":"status","in":"query","description":"Фильтр по статусу заказа","required":false,"schema":{"type":"string","description":"Фильтр по статусу заказа"}},{"name":"withoutSupply","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"orderProductId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"productId","in":"query","description":"Фильтр по товару из заказа","required":false,"schema":{"type":"string","description":"Фильтр по товару из заказа"}},{"name":"hasCollectTask","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"organizationId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"updateInService","in":"query","description":"Заказы, которые стоят в очереди на изменение статуса на маркетплейсе","required":false,"schema":{"type":"string","description":"Заказы, которые стоят в очереди на изменение статуса на маркетплейсе"}},{"name":"hasServiceError","in":"query","description":"Заказы с ошибкой обновления статуса на маркетплейсе","required":false,"schema":{"type":"string","description":"Заказы с ошибкой обновления статуса на маркетплейсе"}},{"name":"noLabel","in":"query","description":"Фильтрует заказы без этикетки","required":false,"schema":{"type":"string","description":"Фильтрует заказы без этикетки"}},{"name":"noMsOrder","in":"query","description":"Фильтрует по заказам не созданным в Моем складе","required":false,"schema":{"type":"string","description":"Фильтрует по заказам не созданным в Моем складе"}},{"name":"noMsDemand","in":"query","description":"Фильтрует по заказам с несозданными отгрузками в Моем складе","required":false,"schema":{"type":"string","description":"Фильтрует по заказам с несозданными отгрузками в Моем складе"}},{"name":"ids","in":"query","description":"Идентификаторы заказов для печати","required":false,"schema":{"type":"string","description":"Идентификаторы заказов для печати"}},{"name":"supplyId","in":"query","description":"Поставка, в которой отгружается заказ","required":false,"schema":{"type":"string","description":"Поставка, в которой отгружается заказ"}},{"name":"notCollected","in":"query","description":"Заказы, которые не собирались через SelSup","required":false,"schema":{"type":"string","description":"Заказы, которые не собирались через SelSup"}},{"name":"dbs","in":"query","description":"DBS заказы","required":false,"schema":{"type":"string","description":"DBS заказы"}},{"name":"express","in":"query","description":"Express заказы","required":false,"schema":{"type":"string","description":"Express заказы"}},{"name":"fbs","in":"query","description":"FBS заказы","required":false,"schema":{"type":"string","description":"FBS заказы"}},{"name":"noWarehouse","in":"query","description":"Заказы без склада","required":false,"schema":{"type":"string","description":"Заказы без склада"}},{"name":"closeDate","in":"query","description":"Фильтр по дате сборки заказа - конкретный день","required":false,"schema":{"type":"string","description":"Фильтр по дате сборки заказа - конкретный день"}},{"name":"modifiedDate","in":"query","description":"Фильтр по дате изменения заказа - статуса или любой информации о заказе","required":false,"schema":{"type":"string","description":"Фильтр по дате изменения заказа - статуса или любой информации о заказе"}},{"name":"incomeId","in":"query","description":"id закупки из которого создан order","required":false,"schema":{"type":"string","description":"id закупки из которого создан order"}},{"name":"closeDateFrom","in":"query","description":"Фильтр по дате сборки заказа от - ISO","required":false,"schema":{"type":"string","description":"Фильтр по дате сборки заказа от - ISO"}},{"name":"closeDateTo","in":"query","description":"Фильтр по дате сборки заказа до - ISO","required":false,"schema":{"type":"string","description":"Фильтр по дате сборки заказа до - ISO"}},{"name":"orderDate","in":"query","required":false,"schema":{"type":"string"}},{"name":"deliveryDate","in":"query","description":"Фильтр по дате доставки заказа","required":false,"schema":{"type":"string","description":"Фильтр по дате доставки заказа"}},{"name":"deliveryDateFrom","in":"query","description":"Фильтр по дате доставки заказа от","required":false,"schema":{"type":"string","description":"Фильтр по дате доставки заказа от"}},{"name":"deliveryDateTo","in":"query","description":"Фильтр по дате доставки заказа до","required":false,"schema":{"type":"string","description":"Фильтр по дате доставки заказа до"}},{"name":"forMoySklad","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"warehouseId","in":"query","description":"Фильтр по складу, с которого отгружается заказ","required":false,"schema":{"type":"string","description":"Фильтр по складу, с которого отгружается заказ"}},{"name":"dateFrom","in":"query","description":"Фильтр по дате заказа - от","required":false,"schema":{"type":"string","description":"Фильтр по дате заказа - от"}},{"name":"dateTo","in":"query","description":"Фильтр по дате заказа - до","required":false,"schema":{"type":"string","description":"Фильтр по дате заказа - до"}},{"name":"markingStatus","in":"query","description":"Фильтр по статусу в честном знаке","required":false,"schema":{"type":"string","description":"Фильтр по статусу в честном знаке"}},{"name":"deleted","in":"query","description":"Показать удаленные заказы","required":false,"schema":{"type":"string","description":"Показать удаленные заказы"}},{"name":"collectLabel","in":"query","description":"Только для печати в PDF. Признак необходимости распечата
[...]
